
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;

  .team-card{
        margin-bottom: 0 !important;

        figure {
            margin-bottom: 0 !important;
        }

        .team-body {
            padding: 50px 60px 80px !important;
            height: 350px;
            background:#F4F4F4;

            .contac-info-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: var(--wp--preset--color--tertiary);
                width: 100%;
                padding: 20px 35px;
                box-sizing: border-box;

                /* Hidden state */
                .contact-details {
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    padding-top: 0;
                    background-color: var(--wp--preset--color--tertiary);
                    transform: translateY(-10px);
                    transition:
                    max-height 0.35s ease-out,
                    opacity 0.35s ease-out,
                    transform 0.35s ease-out,
                    padding-top 0.35s ease-out;
                }

                .contact {
                    margin-bottom: 0 !important;
                    gap: 0 !important;
                    &:after{
                        content:"+";
                        position: absolute;
                        right: 0px;
                    }
                }

                &:hover {
                    .contact-details {
                        max-height: 300px;
                        opacity: 1;
                        padding-top: 160px;
                        transform: translateY(0);
                    }
                    .contact::after {
                        content: "–";
                    }
                }
            }
        }
    }
}