
/**
*	home - Blog: 
*	Customized Post-Loop
*/
.blog .wp-site-blocks > main {
	padding-bottom: var(--mbfse--margin-bottom-block);
}
/*Blog-Loop-Item*/
.wp-block-query.mbfse-block-post-template {
	margin-bottom: 0 !important;

	ul.wp-block-post-template {
		display: flex;
		flex-direction: column;
				
		li {
			box-shadow: none !important;
			background-image: none !important;
			padding: 60px var(--mbfse--margin-bottom-inline);
			.query-text-container{
				justify-content: space-between;
				h3{
					font-size: var(--fescon-blog-loop-title-size);
				}
				.wp-block-post-date {
					min-width: 120px;
				}
			}
		}
		li:not(:last-child){
			border-bottom:1px solid #ccc;
		}
	}
}

/* Blog-Loop-Container in Startpage */
.posts-cover {
	--fescon-blog-loop-title-size:var(--wp--preset--font-size--large);
	padding: 140px 40px;

	.wp-block-cover__inner-container{
		width: 55% !important;
		> div {
			padding: 60px 44px;

			.wp-block-query{
				margin-bottom: 40px !important;
				ul.wp-block-post-template{
					li {
						padding: 30px var(--mbfse--margin-bottom-inline);
					}
				}
			}
		}
	}
}

/* Blog-Loop-Container in Blogpage */
.blogs-wrapper {
	width: 80%;
	--fescon-blog-loop-title-size:var(--wp--preset--font-size--x-large);
	ul.wp-block-post-template{
		margin-bottom:60px !important;
		
		li:last-child{
			border-bottom:1px solid #ccc;
		}
	}
}


/*
	SearchBar
*/
.wp-block-search__inside-wrapper {
	margin-bottom: 100px !important;
	button {
		display: none;
	}
	input {
		padding: 20px;
		background-color: var(--wp--preset--color--quaternary);
		border: none;
	}

	&:after {
		content: '\F52A';
		font-family: "bootstrap-icons";
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 25px;
		color: #666;
		pointer-events: none;
	}

}
.wp-block-search__label {
	display: none;
}


/*
	Pagination
*/
@mixin paginationButton() {
	border-radius: 50px;
	width:35px;
	height:35px;
	display: flex;
    align-items: center;
    justify-content: center;
	border: 1px solid var(--wp--preset--color--contrast);
}

.wp-block-query-pagination {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	.page-numbers {
		@include paginationButton;
	}
	.current {
		background-color: var(--wp--preset--color--tertiary);	
		border: none;	
	}
	.wp-block-query-pagination-numbers a {
		color: var(--wp--preset--color--contrast);
	}
	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		@include paginationButton;
		color: var(--wp--preset--color--contrast) !important;
	}
}

.wp-block-list li::marker {
	content: "";
}
.wp-block-post-terms__separator {
	display: none;
}
.taxonomy-category {
	display: flex;
	gap: 10px;
}

/*
	Category-Label
*/
@mixin taxitem(){
	background-color: var(--wp--preset--color--tertiary);
	color: var(--wp--preset--color--contrast) !important;
	display: inline-flex;
	gap: 7px;
	padding: 5px 10px;
	line-height: 1;
	border:1px solid var(--wp--preset--color--tertiary);

	&:before{
		content: '\F3D1';
		font-family: 'bootstrap-icons';
		position: relative;
		top:2px;
	}
	&:hover{
		background-color: transparent;
		border-color:#000;
	}
}
.taxonomy-item{
	@include taxitem;
}
.taxonomy-category.wp-block-post-terms{
	margin-bottom:5px;

	a{
		@include taxitem;
	}
}
.wp-block-categories-list{
	display: flex;
	list-style-type:none;
	gap:20px;
	border-bottom:1px solid #ccc;
    padding-bottom: 60px;
	margin-bottom: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80%;
	li a{
		@include taxitem;
	}
}