
.contact-map-wrapper {
    margin-bottom: 60px !important;
    gap: 0 !important;
}
.contact-map-wrapper > div:last-child {
    display: flex !important;
}
.mbgi-openstreetmap-wrap {
    width: 100%;
}

.wp-block-image.alignfull.size-full.only-mobile{
    padding:0 !important;
    margin-bottom: 0 !important;
}

body.ninja-form-submitted{
    .contact-cover{
        
        .wp-block-cover__inner-container{
            background-color: var(--wp--preset--color--tertiary);
            h2{
                color:#fff;
            }
        }
        .wp-block-heading{
            display:none
        }
    }
}