header{
	--mbfse--menu-item-padding:10px;
  	
	*{
		transition: all 0.3s ease;
	}

	> div{
		padding-top: 10px;
		background-color: #fff;
		figure{
			filter: invert(1);
			max-width: 140px;
		}

		.wp-block-navigation__responsive-container-content {
			display: flex;
			justify-content: center !important;
			align-items: center;
		}

		ul {
			padding: 5px !important;
			li a {
				padding: 5px 20px !important;
			}
			/*  Add hovered animated mode style */
			li {
				border-radius: 50px;
				background: linear-gradient(to right, #ffdc0b 50%, transparent 50%);
				background-size: 200% 100%;
				background-position: right bottom;
				transition: none;

				&:hover {
					transition: background-position 0.5s ease;
					background-position: left bottom;

					span {
						color: var(--wp--preset--color--contrast);
					}
				}
			}
		}
	}

&.isSpecialHeader {
	> div{
		padding-top: 30px;
		background-color: transparent;
		
		ul {
			background-color: #ffffff;
			border-radius: 50px;
		}
		figure {
			max-width: 160px;
			filter: invert(0);
		}
		p {
			opacity: 0;
		}
	}
}
}

// footer
.parts-footer {
	min-width: 50%;
	.wp-block-navigation-item__label {
		color: white !important;
	}
	.wp-block-navigation__container {
		display: flex;
		flex-direction:column;
		gap: 5px !important;
	}
}
footer > div > div:last-of-type{
	display: flex;
	flex-direction: column;
}