header{
	--mbfse--menu-item-padding:10px;
  	--mbfse--menu-item-color-hover: #000;
	*{
		transition: all 0.3s ease;
	}

	> div{
		padding-top: 10px;
		background-color: #fff;
		figure{
			filter: invert(1);
			max-width: 140px;
		}

		.wp-block-navigation__responsive-container-content {
			display: flex;
			justify-content: center !important;
			align-items: center;

			ul {
				padding: 5px !important;
				*{
					transition: all 0.3s ease;
				}
				li {
					a {
						padding: 5px 20px !important;
						border-radius: 50px;
						overflow: hidden;
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: var(--wp--preset--color--tertiary);
							border-radius: 40px;
							z-index: 0;
							transform: translateX(-100%);
							opacity:0;
							transition: all 0.3s ease;
						}
					}
					
					&:hover {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}

					&.current-menu-item {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}
				}
			}
		}
	}

&.isSpecialHeader {
	> div{
		padding-top: 30px;
		background-color: transparent;
		
		ul {
			background-color: #ffffff;
			border-radius: 50px;
		}
		figure {
			max-width: 160px;
			filter: invert(0);
		}
		p {
			opacity: 0;
		}
	}
}
}

// footer
.parts-footer {
	min-width: 50%;
	.wp-block-navigation-item__label {
		color: white !important;
	}
	.wp-block-navigation__container {
		display: flex;
		flex-direction:column;
		gap: 5px !important;
	}
}
footer > div > div:last-of-type{
	display: flex;
	flex-direction: column;
}