header{
	--mbfse--menu-item-padding:10px;
  	--mbfse--menu-item-color-hover: #000;
	--mbfse--menu-close-fixer:-7px;
	*{
		transition: all 0.3s ease;
	}

	> div{
		padding-top: 10px;
		background-color: #fff;
		box-sizing: border-box;
		min-height: 84px;
		.header-logo{
			top: 2px;
			a{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
			}
			figure{
				top: 0px;
				filter: invert(1);
				max-width: 140px;
			}
			position: absolute;
		}

		nav{
			top:7px;
			@media (max-width: 768px) {
				top: 20px;
			}
		}
		.wp-block-navigation__responsive-container-content {
			display: flex;
			justify-content: center !important;
			align-items: center;

			ul {
				padding: 5px !important;
				*{
					transition: all 0.3s ease;
				}
				li {
					a {
						padding: 5px 20px !important;						
						border-radius: 50px;
						overflow: hidden;
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: var(--wp--preset--color--tertiary);
							border-radius: 40px;
							z-index: 0;
							transform: translateX(-100%);
							opacity:0;
							transition: all 0.3s ease;
						}
					}
					
					&:hover {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}

					&.current-menu-item {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}
				}
			}
		}
	}

	&.isSpecialHeader {
		> div{
			min-height: 84px;
			padding-top: 30px;
			background-color: transparent;
			
			ul {
				background-color: #ffffff;
				@media (min-width: 769px) {
					border-radius: 50px;
				}
			}
			figure {
				max-width: 160px;
				filter: invert(0);
			}
			p {
				opacity: 0;
			}
			
			nav{
				@media (max-width: 768px) {
					top: 10px;
				}
			}
			nav > button{
				color:#fff;
				svg{
					stroke: #fff;
					fill:#fff;
				}
			}
		}

		@media (max-width: 768px) {
			> div nav .wp-block-navigation__responsive-container{
				top: var(--mbfse-header-height) !important;
				background-color: var(--wp--preset--color--tertiary) !important;
				ul{
					background-color: var(--wp--preset--color--tertiary) !important;
				}
				&.is-menu-open{
					top: var(--mbfse-header-height) !important
				}
			}
		}
	}

	&:not(.isSpecialHeader) {
		box-shadow: 15px 15px 30px #0000001A;
	}

	@media (max-width: 768px) {
		> div nav .wp-block-navigation__responsive-container{
			top: calc(var(--mbfse-header-height) - 1px);
			background-color: var(--wp--preset--color--tertiary) !important;
			&.is-menu-open{
				
				min-height: auto;
				top: var(--mbfse-header-height);
				
				.wp-block-navigation__responsive-container-content{
					height:calc(100vh - var(--mbfse-header-height));
					> ul.wp-block-navigation__container {
						background-color: var(--wp--preset--color--tertiary);
						gap:5px;
						
					}
				} 

				.wp-block-navigation__responsive-container-close{
					background: #fff
				}		
			}

			span{
							font-size: 40px
						}
		}
	}
}

// footer
footer{
	--mbfse--padding-footer:40px 0;
	background-color: #000;
	*{
		font-size: 18px;
		@media (max-width: 601px) {
			font-size: 14px;
    	}
	}
	>div{
		max-width: var(--wp--style--global--content-size);

		padding-left: var(--wp--style--root--padding-left);
		padding-right: var(--wp--style--root--padding-left);
		margin: 0 auto;
		align-items: stretch !important;
		gap:20px !important;

		.wp-block-group.mbfse-copyright{
			margin-left: 0 !important;
			a,
			p{
				color:#fff;
				line-height: 1;
			}
		} 
	}

	.parts-footer {
		min-width: 50%;
		padding:0; 
		
		.wp-block-navigation-item__label {
			color: white !important;
		}
		.wp-block-navigation__container {
			display: flex;
			flex-direction:column;
			gap: 15px !important;
		}

		@media (max-width: 1600px) {
		}
		
		@media (max-width: 601px) {
			min-width: 100%;
			gap:40px;
			
			> div {
				display: flex;
				flex-wrap: unset !important;
			}
		}
	}
	> div > div:last-of-type{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		figure{
			margin-bottom: var(--mbfse--margin-bottom-inline);
		}
		p{
			margin-bottom: 0 !important;
			margin-top: auto;
			@media (max-width: 601px) {
				margin-left: 0 !important;
			}
		}
	}
	@media (max-width: 601px) {
		> div {
			flex-direction: column;
			align-items: flex-start !important;
			gap: 60px !important;
		}
	}
}

@media (max-width: 768px){
	html.has-modal-open{
		header.isSpecialHeader{
			background-color: #fff;
			.wp-block-image{
				img{
					filter: invert(1);
				}
			}
			.wp-block-navigation__responsive-container-close{
				top: 40px;
			}
		}
	}
}
