header{
	--mbfse--menu-item-padding:10px;
  	--mbfse--menu-item-color-hover: #000;
	*{
		transition: all 0.3s ease;
	}

	> div{
		padding-top: 10px;
		background-color: #fff;

		.header-logo{
			a{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
			}
			figure{
				filter: invert(1);
				max-width: 140px;
			}
		}

		.wp-block-navigation__responsive-container-content {
			display: flex;
			justify-content: center !important;
			align-items: center;

			ul {
				padding: 5px !important;
				*{
					transition: all 0.3s ease;
				}
				li {
					a {
						padding: 5px 20px !important;
						border-radius: 50px;
						overflow: hidden;
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: var(--wp--preset--color--tertiary);
							border-radius: 40px;
							z-index: 0;
							transform: translateX(-100%);
							opacity:0;
							transition: all 0.3s ease;
						}
					}
					
					&:hover {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}

					&.current-menu-item {
						a:before{
							transform: translateX(0);
							opacity:1;
						}
					}
				}
			}
		}
	}

&.isSpecialHeader {
	> div{
		padding-top: 30px;
		background-color: transparent;
		
		ul {
			background-color: #ffffff;
			border-radius: 50px;
		}
		figure {
			max-width: 160px;
			filter: invert(0);
		}
		p {
			opacity: 0;
		}
	}
}

&:not(.isSpecialHeader) {
    box-shadow: 15px 15px 30px #0000001A;
}
}

// footer
footer{
	--mbfse--padding-footer:40px 0;
	*{
		font-size: 18px;
		@media (max-width: 550px) {
			font-size: 14px;
    	}
	}
	>div{
		align-items: stretch !important;
	}

	.parts-footer {
		min-width: 50%;
		.wp-block-navigation-item__label {
			color: white !important;
		}
		.wp-block-navigation__container {
			display: flex;
			flex-direction:column;
			gap: 15px !important;
		}
		@media (max-width: 550px) {
			> div {
				display: flex;
				flex-wrap: unset !important;
			}
		}
	}
	> div > div:last-of-type{
		display: flex;
		flex-direction: column;

		figure{
			margin-bottom: var(--mbfse--margin-bottom-inline);
		}
		p{
			margin-bottom: 0 !important;
			margin-top: auto;
			@media (max-width: 550px) {
				margin-left: 0 !important;
			}
		}
	}
	@media (max-width: 550px) {
		> div {
			flex-direction: column;
			align-items: flex-start !important;
			gap: 60px !important;
		}
	}
}

