header {
  --mbfse--menu-item-padding:10px;
  --mbfse--menu-item-color-hover: #000;
  --mbfse--menu-close-fixer:-7px;
}
header * {
  transition: all 0.3s ease;
}
header > div {
  padding-top: 10px;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 84px;
}
header > div .header-logo {
  top: 2px;
}
header > div .header-logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
header > div .header-logo figure {
  top: 0px;
  filter: invert(1);
  max-width: 140px;
}
header > div .header-logo {
  position: absolute;
}
header > div nav {
  top: 7px;
}
@media (max-width: 768px) {
  header > div nav {
    top: 20px;
  }
}
header > div .wp-block-navigation__responsive-container-content {
  display: flex;
  align-items: center;
}
@media (min-width: 1120px) {
  header > div .wp-block-navigation__responsive-container-content {
    justify-content: center !important;
  }
}
header > div .wp-block-navigation__responsive-container-content ul {
  padding: 5px !important;
}
header > div .wp-block-navigation__responsive-container-content ul * {
  transition: all 0.3s ease;
}
header > div .wp-block-navigation__responsive-container-content ul li a {
  padding: 5px 20px !important;
  border-radius: 50px;
  overflow: hidden;
}
header > div .wp-block-navigation__responsive-container-content ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--wp--preset--color--tertiary);
  border-radius: 40px;
  z-index: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s ease;
}
header > div .wp-block-navigation__responsive-container-content ul li:hover a:before {
  transform: translateX(0);
  opacity: 1;
}
header > div .wp-block-navigation__responsive-container-content ul li.current-menu-item a:before {
  transform: translateX(0);
  opacity: 1;
}
header.isSpecialHeader > div {
  min-height: 84px;
  padding-top: 30px;
  background-color: transparent;
}
header.isSpecialHeader > div ul {
  background-color: #ffffff;
}
@media (min-width: 769px) {
  header.isSpecialHeader > div ul {
    border-radius: 50px;
  }
}
header.isSpecialHeader > div figure {
  max-width: 160px;
  filter: invert(0);
}
header.isSpecialHeader > div p {
  opacity: 0;
}
@media (max-width: 768px) {
  header.isSpecialHeader > div nav {
    top: 10px;
  }
}
header.isSpecialHeader > div nav > button {
  color: #fff;
}
header.isSpecialHeader > div nav > button svg {
  stroke: #fff;
  fill: #fff;
}
@media (max-width: 768px) {
  header.isSpecialHeader > div nav .wp-block-navigation__responsive-container {
    top: var(--mbfse-header-height) !important;
    background-color: var(--wp--preset--color--tertiary) !important;
  }
  header.isSpecialHeader > div nav .wp-block-navigation__responsive-container ul {
    background-color: var(--wp--preset--color--tertiary) !important;
  }
  header.isSpecialHeader > div nav .wp-block-navigation__responsive-container.is-menu-open {
    top: var(--mbfse-header-height) !important;
  }
}
header:not(.isSpecialHeader) {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1019607843);
}
@media (max-width: 768px) {
  header > div nav .wp-block-navigation__responsive-container {
    top: calc(var(--mbfse-header-height) - 1px);
    background-color: var(--wp--preset--color--tertiary) !important;
  }
  header > div nav .wp-block-navigation__responsive-container.is-menu-open {
    min-height: auto;
    top: var(--mbfse-header-height);
  }
  header > div nav .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    height: calc(100vh - var(--mbfse-header-height));
  }
  header > div nav .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > ul.wp-block-navigation__container {
    background-color: var(--wp--preset--color--tertiary);
    gap: 5px;
  }
  header > div nav .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-close {
    background: #fff;
  }
  header > div nav .wp-block-navigation__responsive-container span {
    font-size: 40px;
  }
}

footer {
  --mbfse--padding-footer:40px 0;
  background-color: #000;
}
footer * {
  font-size: 18px;
}
@media (max-width: 601px) {
  footer * {
    font-size: 14px;
  }
}
footer > div {
  max-width: var(--wp--style--global--content-size);
  padding-left: var(--wp--style--root--padding-left);
  padding-right: var(--wp--style--root--padding-left);
  margin: 0 auto;
  align-items: stretch !important;
  gap: 20px !important;
}
footer > div .wp-block-group.mbfse-copyright {
  margin-left: 0 !important;
}
footer > div .wp-block-group.mbfse-copyright a,
footer > div .wp-block-group.mbfse-copyright p {
  color: #fff;
  line-height: 1;
}
footer .parts-footer {
  min-width: 50%;
  padding: 0;
}
footer .parts-footer .wp-block-navigation-item__label {
  color: white !important;
}
footer .parts-footer .wp-block-navigation__container {
  display: flex;
  flex-direction: column;
  gap: 15px !important;
}
@media (max-width: 601px) {
  footer .parts-footer {
    min-width: 100%;
    gap: 40px;
  }
  footer .parts-footer > div {
    display: flex;
    flex-wrap: unset !important;
  }
}
footer > div > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer > div > div:last-of-type figure {
  margin-bottom: var(--mbfse--margin-bottom-inline);
}
footer > div > div:last-of-type p {
  margin-bottom: 0 !important;
  margin-top: auto;
}
@media (max-width: 601px) {
  footer > div > div:last-of-type p {
    margin-left: 0 !important;
  }
}
@media (max-width: 601px) {
  footer > div {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 60px !important;
  }
}

@media (max-width: 768px) {
  html.has-modal-open header.isSpecialHeader {
    background-color: #fff;
  }
  html.has-modal-open header.isSpecialHeader .wp-block-image img {
    filter: invert(1);
  }
  html.has-modal-open header.isSpecialHeader .wp-block-navigation__responsive-container-close {
    top: 40px;
  }
}/*# sourceMappingURL=header.css.map */