/* Leistungen Slider */
.leistungen-slider {
  /*Container-Content*/
  /*Pfeil-Navigation*/
  --swiper-navigation-sides-offset: 47%;
  /*Slider Menu*/
}
.leistungen-slider .swiper-wrapper .wp-block-columns {
  gap: 0 !important;
  margin-bottom: 50px !important;
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background {
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-top: 120px;
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background h3 {
  margin-top: auto;
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-top: auto;
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons .wp-block-button {
  width: 180px;
}
@media (max-width: 768px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background {
    padding: 140px 0 40px;
    text-align: center;
    gap: 0;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons {
    justify-content: center;
  }
}
@media (max-width: 601px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background {
    gap: 0;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background h3 {
    margin-bottom: 0 !important;
  }
}
.leistungen-slider .swiper-wrapper .wp-block-columns > div:last-child {
  /*Rechte Spalte mit Bild*/
}
.leistungen-slider .swiper-wrapper .wp-block-columns > div:last-child figure {
  height: 600px;
  display: flex;
}
@media (max-width: 601px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns > div:last-child figure {
    height: 270px;
  }
}
.leistungen-slider .swiper-wrapper .wp-block-columns > div:last-child figure img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1118px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns > div:first-child {
    flex-basis: 66%;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns > div:last-child {
    flex-basis: 33%;
  }
}
@media (max-width: 768px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns {
    flex-direction: column-reverse;
  }
}
.leistungen-slider .swiper-button-prev::after {
  font-family: "bootstrap-icons";
  content: "\f12f";
}
.leistungen-slider .swiper-button-next::after {
  font-family: "bootstrap-icons";
  content: "\f138";
}
.leistungen-slider .swiper-button-prev,
.leistungen-slider .swiper-button-next {
  top: 100%;
}
@media (max-width: 1024px) {
  .leistungen-slider {
    --swiper-navigation-sides-offset: 45%;
  }
}
@media (max-width: 768px) {
  .leistungen-slider {
    --swiper-navigation-sides-offset: 42%;
  }
}
.leistungen-slider .menu-container {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(48% - 100px);
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  z-index: 1;
  /*Slider animation*/
  /*Menu*/
}
.leistungen-slider .menu-container #slider {
  position: absolute;
  height: calc(100% - 20px);
  background: black;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  top: 10px;
}
.leistungen-slider .menu-container .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  left: 0;
  top: 0;
}
.leistungen-slider .menu-container .swiper-pagination:hover span.fescon-bulletpoints {
  color: #000;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints {
  background-color: transparent;
  flex: content;
  padding: 10px 30px;
  opacity: 1;
  font-size: 18px;
  width: auto;
  height: auto;
  color: #000;
  transition: all 0.3s ease;
}
@media (max-width: 601px) {
  .leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints {
    font-size: var(--wp--preset--font-size--small);
    padding: 10px;
  }
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints.swiper-pagination-bullet-active {
  color: #fff;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints.active {
  color: #fff;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints:hover {
  color: #fff !important;
}
@media (max-width: 1118px) {
  .leistungen-slider .menu-container {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .leistungen-slider .menu-container {
    width: calc(100% - 100px);
    box-sizing: border-box;
    bottom: 250px;
    top: auto;
  }
}
@media (max-width: 601px) {
  .leistungen-slider .menu-container {
    padding: 5px 20px;
  }
}/*# sourceMappingURL=leistungen-slider.css.map */