/* Leistungen Slider */
.leistungen-slider {
     .swiper-wrapper {
        .wp-block-columns {
            gap: 0 !important;
            margin-bottom: 50px !important;
            .has-background {
                margin-bottom: 20px;
                margin-top: 20px;
                gap:50px;
                @media (max-width: 550px) {
                    gap: 0;
                }
				@media (max-width: 1024px) {
                    margin-bottom: 5px;
                	margin-top: 5px;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-items: center;
                .wp-block-buttons {
                    .wp-block-button {
                        position: absolute;
                        top: 60px;
						width: 180px;
						@media (min-width: 1300px) and (max-width: 1700px) {
                            top: 10px;
                        }
                        @media (max-width: 1300px) {
                            top: 0;
                        }
                    }
                    
                }
            }

            /*Rechte Spalte mit Bild*/
            figure{
                height: 600px;
                display: flex;
                img{
                    object-fit: cover;
                }
            }
        }
     }

    /*Pfeil-Navigation*/
    .swiper-button-prev::after {
            font-family: "bootstrap-icons";
            content: "\F12F";
    }
    .swiper-button-next::after {
            font-family: "bootstrap-icons";
            content: "\F138";
    }
    .swiper-button-next {
        top: 100%;
        right: 47%;
		@media (max-width: 1300px) {
            right: 45%;
        }
    }
    .swiper-button-prev {
        top: 100%;
        left: 47%;
		@media (max-width: 1300px) {
            left: 45%;
        }
    }

    /*Slider Menu*/
    .menu-container{
        position: absolute;
        top: 50px;
        left: 50px;
        width: calc(40% - 100px);
        @media (max-width: 550px) {
    		width: calc(100% - 75px);
            left: 15px;
    	}
        background: #fff;
        border-radius: 50px;
        padding:10px;
        z-index: 1;

        
        /*Slider animation*/
        #slider{
            position: absolute;
            height: calc(100% - 20px);
            background: black;
            border-radius: 50px;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: 1;
            top: 10px;
        }

        /*Menu*/
        .swiper-pagination{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            left: 0;

            &:hover span.fescon-bulletpoints {
                color:#000;
            }
            
            .fescon-bulletpoints {
                background-color: transparent;
                flex:content;
                padding: 10px 30px;
                opacity: 1;
                font-size: 18px;
                @media (max-width: 550px) {
    	            font-size: var(--wp--preset--mobile--font-size--small);
                    padding: 10px;
                }
                width: auto;
                height: auto;
                color:#000;
                transition: all .3s ease;
                &.swiper-pagination-bullet-active{
                    color:#fff;
                }
                &.active {
                    color:#fff;
                }
                &:hover{
                    color:#fff !important;
                }
            }
        }

        
        /**/
        @media (min-width: 1024px) and (max-width: 1440px) {
			top: 40px;
			height: unset;
            padding: 5px 5px;
        }
		@media (max-width: 1024px) {
			top: 15px;
			height: unset;
			padding: 5px 20px;
        }
    }
}