/* Leistungen Slider */
.leistungen-slider {
    /*Container-Content*/
    .swiper-wrapper {
        .wp-block-columns {
            gap: 0 !important;
            margin-bottom: 50px !important;
            
            .has-background {
                margin-bottom: 20px;
                margin-top: 20px;
                gap:10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-items: center;
                padding-top:120px;

                h3{
                    margin-top: auto;
                }
                .wp-block-buttons {
                    display: flex;
                    width: 100%;
                    justify-content: left;
                    margin-top: auto;

                    .wp-block-button {
                        width: 180px;
                    }
                    
                }
                
                @media (max-width: 768px) {
                    padding: 140px 0 40px;
                    text-align: center;
                    gap:0;
                    .wp-block-buttons {
                        justify-content: center;
                    }
                }

                @media (max-width: 601px) {
                    gap: 0;
                    .wp-block-buttons {
                        margin-top: 20px;
                    }
                }
            }

            >div:last-child{
                /*Rechte Spalte mit Bild*/
                figure{
                    height: 600px;
                    @media (max-width: 601px) {
                        height: 270px;
                    }
                    display: flex;
                    img{
                        object-fit: cover;
                    }
                }
            }

            @media (max-width: 1118px) {
                >div:first-child{
                    flex-basis: 66%;
                }
                >div:last-child{
                    flex-basis: 33%;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                >div:last-child{
                    figure{
                        max-height: 400px;
                    }
                }
            }
        }
    }

    /*Pfeil-Navigation*/
    .swiper-button-prev::after {
        font-family: "bootstrap-icons";
        content: "\F12F";
    }
    .swiper-button-next::after {
        font-family: "bootstrap-icons";
        content: "\F138";
    }
    .swiper-button-prev,
    .swiper-button-next {
        top: 100%;
    }
    --swiper-navigation-sides-offset: 47%;
    @media (max-width: 1024px) {
        --swiper-navigation-sides-offset: 45%;
    }
    @media (max-width: 768px) {
        --swiper-navigation-sides-offset: 42%;
    }

    /*Slider Menu*/
    .menu-container{
        position: absolute;
        top: 50px;
        left: 50px;
        width: calc(48% - 100px);        
        background: #fff;
        border-radius: 50px;
        padding:10px;
        z-index: 1;

        
        /*Slider animation*/
        #slider{
            position: absolute;
            height: calc(100% - 20px);
            background: black;
            border-radius: 50px;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: 1;
            top: 10px;
        }

        /*Menu*/
        .swiper-pagination{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            left: 0;
            top: 0;

            &:hover span.fescon-bulletpoints {
                color:#000;
            }
            
            .fescon-bulletpoints {
                background-color: transparent;
                flex:content;
                padding: 10px 30px;
                opacity: 1;
                font-size: 18px;
                @media (max-width: 601px) {
    	            font-size: var(--wp--preset--font-size--small);
                    padding: 10px;
                }
                width: auto;
                height: auto;
                color:#000;
                transition: all .3s ease;
                &.swiper-pagination-bullet-active{
                    color:#fff;
                }
                &.active {
                    color:#fff;
                }
                &:hover{
                    color:#fff !important;
                }
            }
        }

        @media (max-width: 1118px) {
            width: 50%;
        }

        @media (max-width: 768px) {
            width: calc(100% - 100px);
            box-sizing: border-box;
            bottom: auto;
            top: 440px;
        }

        @media (max-width: 601px) {
            left:var(--wp--style--root--padding-right);
            width: calc(100% - (var(--wp--style--root--padding-right) *2));
            top: 320px;
        }
    }
}

/*Leistungen-Stapelanimation*/
.leistungen-stapel{
    .wp-block-columns{
        gap:0;
        box-shadow: 0px 0 50px #0000001A;
        padding: 0;

        .wp-block-column:first-child{
            padding-top:30px;
            padding-bottom: 30px;
        }
        
        .wp-block-column:last-child{
            padding: 0;

            .wp-block-image{
                height: 100%;
                img{
                    height:100%;
                    object-fit: cover;
                }
                .wp-element-caption{
                    display: none;
                }
            }
        }
    }
}

.leistungen-fragen{
    max-width: 600px;
}