/* Leistungen Slider */
.leistungen-slider {
  /*Pfeil-Navigation*/
  /*Slider Menu*/
}
.leistungen-slider .swiper-wrapper .wp-block-columns {
  gap: 0 !important;
  margin-bottom: 50px !important;
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* Handle responsive font sizes */
}
@media (max-width: 1024px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons .wp-block-button {
  position: absolute;
  top: 60px;
  width: 180px;
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons .wp-block-button {
    top: 10px;
  }
}
@media (max-width: 1300px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-buttons .wp-block-button {
    top: 0;
  }
}
@media (min-width: 1440px) and (max-width: 1600px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading {
    font-size: 28px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading p {
    font-size: 21px !important;
    line-height: 38px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading {
    margin-block-end: 0;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading p {
    font-size: 20px !important;
    line-height: 38px !important;
  }
}
@media (max-width: 1024px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading {
    margin-block-end: 0;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background .wp-block-heading p {
    font-size: 15px !important;
    line-height: 30px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background h3 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background p {
    font-size: 14px !important;
    line-height: 25px !important;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 1024px) {
  .leistungen-slider .swiper-wrapper .wp-block-columns .has-background p {
    font-size: 12px !important;
  }
}
.leistungen-slider .swiper-button-prev::after {
  font-family: "bootstrap-icons";
  content: "\f12f";
}
.leistungen-slider .swiper-button-next::after {
  font-family: "bootstrap-icons";
  content: "\f138";
}
.leistungen-slider .swiper-button-next {
  top: 100%;
  right: 47%;
}
@media (max-width: 1300px) {
  .leistungen-slider .swiper-button-next {
    right: 45%;
  }
}
.leistungen-slider .swiper-button-prev {
  top: 100%;
  left: 47%;
}
@media (max-width: 1300px) {
  .leistungen-slider .swiper-button-prev {
    left: 45%;
  }
}
.leistungen-slider .menu-container {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(40% - 100px);
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  z-index: 1;
  /*Slider animation*/
  /*Menu*/
  /**/
}
.leistungen-slider .menu-container #slider {
  position: absolute;
  height: calc(100% - 20px);
  background: black;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  top: 10px;
}
.leistungen-slider .menu-container .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  left: 0;
}
.leistungen-slider .menu-container .swiper-pagination:hover span.fescon-bulletpoints {
  color: #000;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints {
  background-color: transparent;
  flex: content;
  padding: 10px 30px;
  opacity: 1;
  font-size: 18px;
  width: auto;
  height: auto;
  color: #000;
  transition: all 0.3s ease;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints.swiper-pagination-bullet-active {
  color: #fff;
}
.leistungen-slider .menu-container .swiper-pagination .fescon-bulletpoints:hover {
  color: #fff !important;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .leistungen-slider .menu-container {
    top: 40px;
    height: unset;
    font-size: 13px;
    padding: 5px 5px;
  }
}
@media (max-width: 1024px) {
  .leistungen-slider .menu-container {
    top: 15px;
    height: unset;
    font-size: 11px;
    padding: 5px 20px;
  }
}/*# sourceMappingURL=leistungen-slider.css.map */