.wp-site-blocks > main {
	--mbfse--details-padding:1rem 0;
	--mbfse--margin-bottom-inline:30px;

	@media (max-width: 601px) {
    	--mbfse--margin-bottom-inline:10px;	
		--mbfse--margin-bottom-block:100px;
    }
	
	@media (max-width: 601px) {
		.wp-block-group.alignfull > .wp-block-columns {
			padding: 0 !important;
		}
		.is-layout-flex {
			gap: 20px !important;
		}
		
    }

	padding-bottom:0px;

	.small-container{
		max-width: 1200px;
	}
	.small-background{
		padding-top:60px  !important;
		padding-bottom:60px !important
	}

	
}

/*Standards*/
.wp-site-blocks > main .wp-block-post-content{ 
	margin-top: 0;
	padding-bottom: 0;

	/*p-tag spezial*/
	>h2+p{
		padding-right: 200px;
		box-sizing: border-box;
		@media (max-width: 960px) {
			padding-right: 0px;
		}
	}
}

/*Fonts*/
body {
	--wp--preset--font-size--xx-large:96px;
	--wp--preset--font-size--h2-x-large:56px;
	--wp--preset--font-size--x-large:40px;
	--wp--preset--font-size--large:28px;
	--wp--preset--font-size--medium:22px;
	--wp--preset--font-size--small:16px;
	--wp--preset--font-size--h2-mobile:38px;

	/*  Mobile font sizes  */
	@media (max-width: 601px){
		
	}


  /*  Global font defaults  */
  h1 {
    font-size: var(--wp--preset--font-size--xx-large);
	margin-bottom: 10px !important;
	@media (max-width: 1024px) {
		line-height: 1.15;
	}
  }

  h2 {
    font-size: var(--wp--preset--font-size--xx-large);
	@media (max-width: 1024px) {
		font-size: 80px;
		line-height: 1.15;
	}
	@media (max-width: 960px) {
		font-size: 70px;
		
	}
	
	@media (max-width: 601px) {
		font-size: var(--wp--preset--font-size--h2-mobile);
	}
  }

  h3 {
    font-size: var(--wp--preset--font-size--x-large);
  }


  &.home{
	h1{
		font-size: 180px;
		@media (max-width: 1118px) {
   	 		font-size: 150px;
    	}
		@media (max-width: 960px) {
   	 		font-size: 100px;
    	}
		@media (max-width: 601px) {
   	 		font-size: var(--wp--preset--font-size--xx-large);
    	}
	}

	p.has-large-font-size{
		font-size: var(--wp--preset--font-size--medium) !important;
	}
  }

  strong{
	font-weight: 400 !important
  }
  
  @media (max-width: 601px) {
	--wp--style--root--padding-right: 15px;
	--wp--style--root--padding-left: 15px;
	--swiper-navigation-size: 22px;
	--wp--preset--font-size--xx-large:56px;
	--wp--preset--font-size--h2-x-large:36px;
	--wp--preset--font-size--x-large:28px;
	--wp--preset--font-size--large:24px;
	--wp--preset--font-size--medium:18px;
	--wp--preset--font-size--small:14px;
	font-size: var(--wp--preset--font-size--small);
	line-height: 1.6;
	.wp-block-post-excerpt__excerpt{
		font-size: var(--wp--preset--font-size--small);
	}
  }
}

/*Align title marginTop*/
body.kontakt .wp-site-blocks > main,
body:not(.page-template-page-no-title):not(.referenzen-template-default) .wp-site-blocks > main {
    margin-top: var(--mbfse--margin-bottom-block);
}
body.ueber-uns .wp-site-blocks > main {
    // margin-top: var(--mbfse-header-height)
}
/*Hero*/
body.page{
	.wp-site-blocks .wp-block-post-content .mbfse-hero{
		margin-top: calc(var(--mbfse--margin-bottom-block) * -1);
		padding:0;
		.wp-block-cover__inner-container{
			background: linear-gradient(0deg, rgb(0 0 0 / 40%) 30% 50%, rgba(255, 255, 255, 0) 100%);
			width: 100% !important;
			margin-bottom: 0 !important;

			@media (max-width: 1800px) {
				padding-left: var(--wp--style--root--padding-left);
			}			

			:last-child{
				padding-bottom: 55px;
			}
		}

		@media (max-width: 601px) {
			min-height: auto;
			height: auto !important;
			aspect-ratio: 16 / 10;
			.wp-block-cover__inner-container{
				:last-child{
					padding-bottom: 5px;
				}	
			}
		}
	}

	/*Home has SpezialHeader*/
	&.home{
		.wp-site-blocks .wp-block-post-content .mbfse-hero{
			margin-top: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1);
			height:100vh
		}
	}
	
}

.video-hero{
	padding: 0 !important;
    margin-block-start: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1) !important;
	margin-top: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1);
    height:100vh;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
	width: 100vw;

	figure.wp-block-video{
		position: absolute;
    	margin-bottom: 0 !important;
		width: 100vw;
		top: 0;
		left: 0;
		height: 100%;
		video{
			width: 100vw;
    		height: 100vh;
		}
	}

	h1, p{
		text-align: left;
		width:calc(100% - (var(--wp--style--root--padding-left) * 2));
		padding-left: var(--wp--style--root--padding-left);
		padding-right: var(--wp--style--root--padding-left);
		color:#fff;
		z-index:1;
	}
	div.wp-block-group.txt-distance-bottom{
		margin-bottom: 40px !important;
		width: 100%;
		gap: 0;
		padding-left: var(--wp--style--root--padding-left);
		p{
			padding-left: 0;
			width: auto;
			line-height: 1;
		}
		.wp-block-modulbuero-bootstrap-icons{
			z-index: 1;
			.bi-arrow-down-circle-fill::before{
				color:#fff
			}
		}
		
	}

	&:after{
		content:"";
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		height:400px;
		background: linear-gradient(0deg, rgb(0 0 0 / 70%) 0% 25%, rgba(255, 255, 255, 0) 100%);
		z-index:0;
	}

	@media (max-width: 834px) {
		h1, div.wp-block-group.txt-distance-bottom{
			margin-left: 0;
		}
	}

	@media (max-width: 601px) {

		>:last-child{
			margin-bottom: 40px;
		}
	}
}

/*  Buttons General style */
input[type="submit"],
.wp-block-button__link.wp-element-button {
	font-size: 18px;
	line-height: 34px;
	min-width: 160px;
	transition: all 0.3s ease;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	color:#000;
	&:hover{
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--base) !important;
	}
	@media (max-width: 601px) {
		font-size: var(--wp--preset--font-size--small);
	}
}

.mb-button-outline{
	.wp-element-button {
		border: 1px solid var(--wp--preset--color--contrast);
	}
}

.mbgi-openstreetmap-button{
	background-color: var(--wp--preset--color--quaternary);
	color:#000
}

/* 
	Floating image Container "DocuWare"
*/
.hero-split {
	--versatz-bild-top:130px;
	margin-top: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block) ) !important;
	margin-bottom: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block) ) !important;
	margin-block-end: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block) ) !important;
	
	> .wp-block-columns {
		gap:40px !important;
		.wp-block-column:first-child{
			figure{
				width: 80%;
				margin-top: calc(var(--versatz-bild-top) * -1);
				margin-bottom:0 !important;
				box-shadow: 15px 15px 30px #00000033;
			}
			figure:last-child {
				margin-top:0;
				position: absolute;
				bottom: calc(var(--versatz-bild-top) * -1);
				left:20%;
			}
			@media (max-width: 601px) {
				padding-left: var(--wp--style--root--padding-left);
				padding-right: var(--wp--style--root--padding-left);
				min-height: 200px;
				--versatz-bild-top:90px;
			}
		}

		.wp-block-column:last-child {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media (max-width: 601px) {
				gap:15px;
				padding: 30px var(--wp--style--root--padding-left);
				
			}
		}
	}

	@media (max-width: 1280px){
		--versatz-bild-top:80px;
	}

	@media (max-width: 1024px){
		--versatz-bild-top:80px;
		padding-left:0 !important;
		padding-right:0 !important;
		.wp-block-columns .wp-block-column:first-child{
			figure{
				margin-top:0;
			}
			figure:last-child{
				bottom:0;
			}
		}
	}

	@media (max-width: 768px){
		--versatz-bild-top:120px;
		.wp-block-columns{
			gap:80px !important;
			.wp-block-column:first-child{
				figure{
					margin-top: calc(var(--versatz-bild-top) * -1);
				}
				figure:last-child{
					margin-top: calc(var(--versatz-bild-top) * -1);
					bottom:0;
					position: relative;
				}
			}
			.wp-block-heading.has-text-align-center{
				margin-bottom: 10px;
			}
		}
	}

	@media (max-width: 601px){
		margin-bottom: var(--mbfse--margin-bottom-block) !important;
		margin-block-end: var(--mbfse--margin-bottom-block) !important;
	}
}

.slider{
	-webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

	.swiper-wrapper{
		cursor: default;
		touch-action: none;
		cursor: default;
	}
	.swiper-slide {
		user-select: auto; /* Erlaubt Text-Selektion */
		pointer-events: auto; /* Erlaubt Klicks auf Inhalte */
	}
}
.referenz-slider .swiper-wrapper {
    pointer-events: none !important;
    touch-action: none !important;
}

.referenz-slider .swiper-slide > * {
    pointer-events: auto !important;
}
/*
	Referenzberichte
*/
body.referenzen-template-default .wp-site-blocks > main {
	margin-top: var(--mbfse-header-height) !important;
	.parts-single-template{
		.mbfse-hero{
			// min-height: 700px;
			// max-height: calc(100vh - var(--mbfse-header-height));
			// margin-bottom: 50px;
			display:none
		}
		.breadcrumb-navigation{
			margin-bottom: 50px;
		}
		h1{
			margin-bottom: 50px !important;
		}
	}
}
.refrences-wrapper {
	>.wp-block-group{
		gap:0;
		padding: 0;

		@media (max-width: 601px) {
			flex-direction: column;
			align-items: flex-start;
			h2.wp-block-heading{
				padding-top:30px;
				padding-bottom:30px;
			}
		}
	}

	.referenz-arrows {
		display: flex;
		gap: 15px;
		i{
			font-size: 35px;
		}

		@media (max-width: 601px) {
			font-size: 32px;
			justify-content: center;
			top: -15px;
		}
	}
	
	.wp-block-query {
		--triangle-height:40px;

		ul.wp-block-post-template {
			display: block; /*if Swiper*/
			
			.swiper-wrapper{
				margin-bottom:calc(var(--triangle-height) + 20px);
			}
			li {
				display: flex;
    			flex-direction: column;
				background-color: white;
				box-shadow: none;
				border-radius: 0 ;
				background-image: none;
				padding: 40px 20px !important;
				overflow: initial;
				height: 370px;

				@media (max-width: 768px) {
					height: 430px;
				}
				
				@media (max-width: 601px) {
					height: 330px;
				}
				
				.query-text-container{
					margin-bottom:30px;
					justify-content: space-between;
				}

				.bild-details-wrap{
					justify-content: space-between;
					margin-bottom: 0;
					margin-top: auto;
					.wp-block-post-featured-image{
						overflow: visible;
						top:auto;
						left:auto;
						width: 100%;
						max-width: 100px;
						
						img{
							aspect-ratio:auto;
							max-width: 100%;
    						vertical-align: bottom;
							max-height: 46px;
							object-fit: contain !important;
						}
					}
					.mbgi-block-bootstrap-icon{
						border: 1px solid var(--wp--preset--color--contrast);
						border-radius: 50px;
						width: 100%;
						height: 44px;
						max-width: 44px;
						transition: var(--mbfse--transition);
						i{
							padding-left: 6px;
						}
						p{
							position: absolute;
							opacity: 0.3;
							min-width: 55px;
							width: max-content;
							font-size: 15px;
							top:-8.5px;
							color:white
						}
						div {
							height: 6px;
						}
					}
				}

				&:after{
					content:"";
					position: absolute;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 var(--triangle-height) var(--triangle-height) 0;
					border-color: transparent var(--wp--preset--color--base) transparent transparent;
					transform: rotate(0deg);
					bottom:calc(var(--triangle-height) * (-1));
				}

				&:hover{
					filter: drop-shadow(7px 9px 8px #00000020);
					.mbgi-block-bootstrap-icon{
						max-width: 100px;
    					border-radius: 30px;
						background-color: var(--wp--preset--color--contrast);
						.bi-plus::before{
							color:var(--wp--preset--color--base);
						}
						p{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* Swiper */
.webinar-slider .swiper-button-prev,
.webinar-slider .swiper-button-next,
.referenz-slider .swiper-button-prev,
.referenz-slider .swiper-button-next,
.swiper-pagination{
	display:none
}

/* 
	Contact Form
*/
.submit-wrap .nf-field-element {
	display: flex;
	flex-direction:row-reverse;

	>input {
		background-color: transparent;
		border: 1px solid var(--wp--preset--color--contrast) !important;
    	border-radius: 50px;
    	padding: 10px 50px;
	}
}
form .nf-form-content {
	.nf-before-field {
		display:none;
	} 
	> nf-fields-wrap nf-field {	
		display: flex;
		width: 100%;
		background: transparent;
		border: 0;
		border-radius: 0;

		.nf-field-label {
			position: absolute;
			top: 20px;
			pointer-events: none;
			transition: top .18s ease, font-size .18s ease, color .18s ease, transform .18s ease;
			background: var(--wp--preset--color--base);
			padding: 0;
			z-index: 1;
			font-size: 22px;
			label{
				font-weight: 400;
			}
		}
		
		.list-select-wrap .nf-field-label {
			font-size: 22px !important;
			top: 32px !important;
		}
		
		.field-wrap {
			padding-top: 25px;
		}
		//&:has(input:not(:placeholder-shown)),
		//&:has(textarea:not(:placeholder-shown)),
		&:has(select:valid) {
			.nf-field-label {
				top: 36px;
				font-size: 14px;
				color: var(--wp--preset--color--contrast);
			}
		}

		.focus-input .nf-field-label,
		&:focus-within .nf-field-label {
			top: 5px;
			font-size: 16px;
			color: var(--wp--preset--color--contrast);
			opacity: 0.6;
			transform: translateY(0);
		}

		>div { 
			width: 100%;
				
			.nf-field >div .nf-field-element input:not([type="submit"]), select,textarea{
				  border-bottom: 1px solid #e5e7eb !important;
				  height: 50px;
				  font-size: 22px;
			}
			textarea{
				height: auto
			}

			.nf-field >div .nf-field-element input, textarea, select{
				border: none;
			}
			.nf-field >div .nf-field-element input:focus, textarea:focus, select:focus{
				outline: none;
			}
			input::placeholder {
				color: transparent;
			}
		}

		.listselect-container{
			.nf-field-element{
				select{
					padding-left: 40px;
					-webkit-appearance: none;
  					appearance: none;
					font-family: var(--wp--preset--font-family--unineue);

					background-image: url("../img/chevron-down.svg");
					background-repeat: no-repeat;
					background-position: right 0 center;
    				background-size: 20px 20px;
				}
			}
		}
	}
}
.contact-cover {
	padding-top: 140px;
	padding-bottom: 140px;
	> div {
		width: 30% !important;
		background: var(--wp--preset--color--base);
		padding: 60px;
		min-width: 500px;
	}

	@media (max-width: 960px) { 
		> div {
			width: 100% !important;
			padding:20px;
		}	
	}

	@media (max-width: 601px) { 
		padding:0 !important;
		.wp-block-cover{
			padding:0			
		}
		h2{
			padding-top:20px
		}
		> div {
			min-width: auto;
			padding-bottom: 80px;
		}	
	}
}


/* Webinar Cards */
.termine-infos {
	color: var(--wp--preset--color--base);
	margin-bottom:30px!important;

	> div {
		>p::before {
  			display: none !important;
		}
		>p {
			width: fit-content;
			margin-bottom: 0px !important;
			margin-block-end: 0px !important;
			padding:5px 15px;
			background-color: var(--wp--preset--color--contrast);

			@media (max-width: 601px) {
				font-size: 14px;
			}
		}
	}
	.ortschaft {
		display: none;
	}
}
.webinars-wrapper {
	li {
		padding: 60px !important;
		@media (max-width: 601px) { 
		padding: 40px 20px !important;
		}
	}
	.query-text-container{
		height: 100% !important;
	}
}

/*Akkordeon*/
.wp-block-details {
	summary{
		font-size: var(--wp--preset--font-size--large);
	}
}

.wp-block-post-content .has-background{
	padding-top: var(--mbfse--margin-bottom-block);
	padding-bottom:var(--mbfse--margin-bottom-block);
}