/*Container*/
.home .wp-site-blocks > main{
	margin-top: 0;
	.mbfse-hero{
		height: 100vh;
	}
	/*  Buttons General style */
	.wp-block-button__link {
		font-size: 18px;
		line-height: 34px;
		min-width: 160px;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		@media (max-width: 1024px) {
            font-size: 12px;
			padding: 0  !important;
        }
	}
	/* hover buttons */

	.wp-element-button {
		transition: all 0.3s ease;
	}
	.wp-element-button:hover {
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base) !important;
		border: none;
	}
	.mb-button-outline .wp-element-button {
		border: 1px solid var(--wp--preset--color--contrast);
	}
}

/*Fonts*/
body {
  /*  Global font defaults  */
  h1 {
    font-size: 180px !important;
    line-height: 243px !important;
  }

  h2 {
    font-size: 96px !important;
    line-height: 130px !important;
  }

  h3 {
    font-size: 40px !important;
    line-height: 54px !important;
  }

  .custom-p {
    font-size: 28px;
    line-height: 40px;
  }

  .wp-block-post-excerpt {
    &__excerpt {
      font-size: 22px;
      line-height: 34px;
    }
  }

  /* Specific Overwrites  */
  &.home {
    h1 {
      font-size: 180px !important;
    }
  }

  &:not(.home) {
    h1 {
      font-size: 56px !important;
	  line-height: 76px !important;
    }
  }
}

/* 
	Floating image Container
*/
.hero-split {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 200px !important;
  margin-bottom: 200px !important;
  > .wp-block-columns {
		@media (max-width: 1440px) {
			gap: 15%;
			padding: 0 !important;
		}
	   .wp-block-column:first-child{
			img {
				display: block;
				width: min(560px, 50vw);
				height: auto;
				border-radius: 12px;
				box-shadow: 0 10px 30px rgba(0,0,0,.08);
				transform: translateY(-5vw);
			}
		}
		.wp-block-column:nth-child(2) {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
  }	
	
}
.hero-float {
  position: absolute;
  z-index: 2;
  left: 15%;
  bottom: -25%;
  width: min(560px, 45vw);
  pointer-events: none;
  @media (max-width: 1024px) {
    width: min(360px, 45vw);
  }
  @media (min-width: 2000px) {
    left: 20%;
  }

  img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 12px 40px rgba(0,0,0,.12);
  }
}

/*
	Webinar Slider
*/
.query-loop-termine{
	.webinar-slider{
		.swiper-wrapper{
			.swiper-slide{
				background-color: var(--wp--preset--color--quaternary);
				.wp-block-post-excerpt {
					margin-bottom: 50px;
				}
				.taxonomy-category {
					display: flex;
					flex-direction: row-reverse;
					gap: 5px;
					flex-wrap: wrap;
					flex: 2;
				}
				.wp-block-buttons {
					flex: 1;
				}
				.webinar-btns {
					display: flex;
					width: 100%;
					justify-content: space-between;
					justify-items: center;
					align-items: center;
					position: absolute;
					bottom: -50px;
					> div {
						margin: 0 !important;
					}
				}
			}
			.swiper-slide-active{
				background-color: var(--wp--preset--color--tertiary);
				.taxonomy-category.wp-block-post-terms a {
					background-color: var(--wp--preset--color--quaternary);
				}
			}
		}
	}
}

.webinar-arrows {
	display: flex;
	gap: 20px;
	font-size: 40px;
	position: absolute;
	bottom: 5px;

}

/**
*	home - Blog: 
*	Customized Post-Loop
*/
@mixin postLoopTile() {
	background-color: transparent;
	background-image: none;
	box-shadow: none;
	padding:0 0 20px;
	border-radius:0;
	border-bottom: 1px solid #E0E0E0;

	&:last-child{
		border-bottom:0;
		padding:0;
	}
}

.posts-cover {
	.wp-block-cover__inner-container{
		width: 55% !important;

		ul.wp-block-post-template{
			grid-template-columns: 1fr;

			li{
				@include postLoopTile;
				
				.query-text-container{
					height: 100% !important;
					justify-content: space-between;
					
					.wp-block-group{
						transition: transform 0.3s ease;
						h2{
							font-weight: 900;
						}
					}
					.wp-block-post-excerpt {
						display: none;
					}
				}

				&:hover{
					.query-text-container .wp-block-group{
						transform: translateX(8px);
					}
				}
			}
		}
	}
}

/*
	Category-Label
*/
@mixin taxitem(){
	background-color: var(--wp--preset--color--tertiary);
	color: var(--wp--preset--color--contrast);
	display: inline-flex;
	gap: 7px;
	padding: 5px 10px;
	line-height: 1;

	&:before{
		content: '\F3D1';
		font-family: 'bootstrap-icons';
		position: relative;
		top:2px;
	}
}
.taxonomy-item{
	@include taxitem;
}
.taxonomy-category.wp-block-post-terms{
	margin-bottom:5px;

	a{
		@include taxitem;
	}
}
/*
	In Row Blogs
*/
.blogs-wrapper {
	padding-right: 150px !important;
	padding-left: 150px !important;
	ul {
		display: flex !important;
		flex-direction: column !important;
		row-gap: 0 !important;
		margin-bottom: 0 !important;
	}
	.wp-block-post-date {
		min-width: 120px;
	}
	li {
		box-shadow: none !important;
		background-color: transparent !important;
		background-image: none !important;
		border-top: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		padding: 60px var(--mbfse--margin-bottom-inline) !important;
		border-radius: 0 !important;
	}
}
/*
	SearchBar
*/
.wp-block-search__inside-wrapper {
	margin-bottom: 100px !important;
	button {
		display: none;
	}
	input {
		padding: 20px;
		background-color: var(--wp--preset--color--quaternary);
		border: none;
	}
}
.wp-block-search__inside-wrapper::after {
		content: '\F52A';
		font-family: "bootstrap-icons";
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 25px;
		color: #666;
		pointer-events: none;
}
.wp-block-search__label {
	display: none;
}

/*
	Referenzberichte
*/
.refrences-wrapper {
	>h2.wp-block-heading{
		padding:0
	}
	.referenz-arrows {
		display: flex;
		gap: 15px;
	}
	.wp-block-group {
		padding: 0;
	}
	
	.wp-block-query {
		--triangle-height:40px;

		ul.wp-block-post-template {
			display: block; /*if Swiper*/
			
			.swiper-wrapper{
				margin-bottom:calc(var(--triangle-height) + 20px);
			}
			li {
				background-color: white;
				box-shadow: none;
				border-radius: 0 ;
				background-image: none;
				padding: 60px;
				overflow: initial;
				margin-right: 40px !important;
				
				.query-text-container{
					margin-bottom:30px;
					justify-content: space-between;
				}

				.bild-details-wrap{
					justify-content: space-between;
					margin-bottom: 0;
					margin-top: 100px;
					.wp-block-post-featured-image{
						overflow: visible;
						top:auto;
						left:auto;
						width: 100%;
						max-width: 100px;
						
						img{
							transform:scale(1) !important;
							object-fit: contain !important;
						}
					}
					.mbgi-block-bootstrap-icon{
						border: 1px solid var(--wp--preset--color--contrast);
						border-radius: 50px;
						width: 100%;
						height: 44px;
						max-width: 44px;
						transition: var(--mbfse--transition);
						i{
							padding-left: 6px;
						}
						p{
							position: absolute;
							opacity: 0.3;
							min-width: 55px;
							width: max-content;
							font-size: 15px;
							top:-14px;
							color:white
						}
						div {
							height: 6px;
						}
					}
				}

				&:after{
					content:"";
					position: absolute;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 var(--triangle-height) var(--triangle-height) 0;
					border-color: transparent var(--wp--preset--color--base) transparent transparent;
					transform: rotate(0deg);
					bottom:calc(var(--triangle-height) * (-1));
				}

				&:hover{
					filter: drop-shadow(7px 9px 8px #00000020);
					.mbgi-block-bootstrap-icon{
						max-width: 100px;
    					border-radius: 30px;
						background-color: var(--wp--preset--color--contrast);
						.bi-plus::before{
							color:var(--wp--preset--color--base);
						}
						p{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* Swiper */
.webinar-slider .swiper-button-prev,
.webinar-slider .swiper-button-next,
.referenz-slider .swiper-button-prev,
.referenz-slider .swiper-button-next,
.swiper-pagination{
	display:none
}


.team-card{
  max-width: 572px;
  background: transparent;
  overflow: hidden;  
  figure {
	margin-bottom: 0 !important;
	img{
			display:block;
			width:100%;
			height:auto;
			object-fit:cover;
		}
	}
	>div {
		background:#F4F4F4;   
		padding: 30px 40px 70px 40px;
	}	
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;                        
  max-width: 1720px;                 
  margin: 0 auto;
  background: var(--wp--preset--color--base);                
}

/* 
	Contact Form
*/
.submit-wrap .nf-field-element {
	display: flex;
	flex-direction:row-reverse;

	>input {
		background-color: transparent;
		border: 1px solid var(--wp--preset--color--contrast) !important;
    	border-radius: 50px;
    	padding: 10px 50px;
	}
}
form .nf-form-content {
	> nf-fields-wrap nf-field {	
	  display: flex;
	  width: 100%;
	  background: transparent;
	  border: 0;
	  border-radius: 0;
	.nf-field-label {
      position: absolute;
      top: 20px;
      pointer-events: none;
      transition: top .18s ease, font-size .18s ease, color .18s ease, transform .18s ease;
      background: var(--wp--preset--color--base);
      padding: 0 6px;
	  z-index: 1000;
    }
	 &:focus-within .nf-field-label {
      top: -10px;
      font-size: 16px;
      color: var(--wp--preset--color--contrast);
	  opacity: 0.6;
      transform: translateY(0);
    }
	.field-wrap {
		padding-top: 25px;
	}
	&:has(input:not(:placeholder-shown)),
    &:has(textarea:not(:placeholder-shown)),
	&:has(select:valid) {
      .nf-field-label {
        top: -8px;
        font-size: 16px;
        color: var(--wp--preset--color--contrast);
      }
    }

		>div { 
			width: 100%;
				
			.nf-field >div .nf-field-element input:not([type="submit"]), select{
				  border-bottom: 1px solid #e5e7eb !important;
				  height: 50px;
				  font-size: 18px;
			}

			.nf-field >div .nf-field-element input, textarea, select{
				border: none;
			}
			.nf-field >div .nf-field-element input:focus, textarea:focus, select:focus{
				outline: none;
			}
			input::placeholder {
				color: transparent;
			}
		}
	}
}
.contact-cover {
	padding-top: 140px;
	padding-bottom: 140px;
	> div {
		width: 30% !important;
		background: var(--wp--preset--color--base);
		padding: 60px;
	}
}

/* Leistungen Slider */
.leistungen-slider {
     .swiper-wrapper {
        .wp-block-columns {
            gap: 0 !important;
            margin-bottom: 50px !important;
            .has-background {
                margin-bottom: 20px;
                margin-top: 20px;
				@media (max-width: 1024px) {
                    margin-bottom: 5px;
                	margin-top: 5px;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-items: center;
                .wp-block-buttons {
                    .wp-block-button {
                        position: absolute;
                        top: 60px;
						width: 180px;
						@media (min-width: 1300px) and (max-width: 1700px) {
                            top: 10px;
                        }
                        @media (max-width: 1300px) {
                            top: 0;
                        }
                    }
                    
                }
				/* Handle responsive font sizes */
                .wp-block-heading {
					@media (min-width: 1440px) and (max-width: 1600px)  {
						font-size: 28px !important;
					}
					@media (min-width: 1200px) and (max-width: 1440px)  {
						p {
							font-size: 21px !important;
							line-height: 38px !important;	
						}
						
					}
                    @media (min-width: 1024px) and (max-width: 1200px) {
						margin-block-end: 0;
						p {
							font-size: 20px !important;
							line-height: 38px !important;
						}
                	}  
					@media (max-width: 1024px) {
						margin-block-end: 0;
						p {
							font-size: 15px !important;
							line-height: 30px !important;
						}
                	}  
                }
				@media (min-width: 1024px) and (max-width: 1200px) {					
					h3 {
						font-size: 20px !important;
						line-height: 28px !important;
					}
					p {
                    	font-size: 14px !important;
						line-height: 25px !important;
						margin-bottom: 0 !important;
					}
                }  
				@media (max-width: 1024px) {
					p{
						font-size: 12px !important;
					}	
                }  
            }
        }
     }

     .fescon-bulletpoints {
        background-color: transparent;
     }
     .swiper-pagination{
        position: absolute;
        background: var(--wp--preset--color--base);
        top: 50px;
        font-size: 18px;
        padding: 0 5px;
        height: 60px;
        @media (min-width: 1024px) and (max-width: 1440px) {
			top: 40px;
			height: unset;
            font-size: 13px;
            padding: 5px 5px;
        }
		@media (max-width: 1024px) {
			top: 15px;
			height: unset;
            font-size: 11px;
			padding: 5px 20px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        left: 50px;
        border-radius: 50px;
        line-height: 24px;
        width: fit-content;
        min-width: 25%;
        
        
        > span{
            width: 25%;
            padding-bottom: 22px;
            padding-top: 10px;
			opacity: 1;
            @media (max-width: 1024px) {
                padding-bottom: 18px;
                padding-top: 5px;
            }
        }
     }
     .swiper-pagination-bullet-active {
        background-color: var(--wp--preset--color--contrast);
        color: var(--wp--preset--color--base);
        border-radius: 26px;
     }
     .swiper-button-prev::after {
            font-family: "bootstrap-icons";
            content: "\F12F";
    }
    .swiper-button-next::after {
            font-family: "bootstrap-icons";
            content: "\F138";
    }
    .swiper-button-next {
        top: 100%;
        right: 47%;
		@media (max-width: 1300px) {
            right: 45%;
        }
    }
    .swiper-button-prev {
        top: 100%;
        left: 47%;
		@media (max-width: 1300px) {
            left: 45%;
        }
    }

}

/* Webinar Cards */
.termine-infos {
	color: var(--wp--preset--color--base);
	> div {
		>p::before {
  			display: none !important;
		}
		>p {
			width: fit-content;
			margin-bottom: 1px !important;
			margin-block-end: 1px !important;
			padding: 10px 15px;
			background-color: var(--wp--preset--color--contrast);
		}
	}
	.ortschaft {
		display: none;
	}
}
.webinars-wrapper {
	li {
		padding: 30px 30px 70px 30px !important;
	}
	.query-text-container{
		height: 100% !important;
	}
}


@mixin paginationButton() {
	border-radius: 50px;
	width:35px;
	text-align: center;
	border: 1px solid var(--wp--preset--color--contrast);
}

.wp-block-query-pagination {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	.page-numbers {
		@include paginationButton;
	}
	.current {
		background-color: var(--wp--preset--color--tertiary);	
		border: none;	
	}
	.wp-block-query-pagination-numbers a {
		color: var(--wp--preset--color--contrast);
	}
	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		@include paginationButton;
		color: var(--wp--preset--color--contrast) !important;
	}
}

.wp-block-list li::marker {
	content: "";
}
.wp-block-post-terms__separator {
	display: none;
}
.taxonomy-category {
	display: flex;
	gap: 10px;
}