.wp-site-blocks > main {
  --mbfse--details-padding:1rem 0;
  --mbfse--margin-bottom-inline:30px;
  padding-bottom: 0px;
}
@media (max-width: 601px) {
  .wp-site-blocks > main {
    --mbfse--margin-bottom-inline:10px;
    --mbfse--margin-bottom-block:100px;
  }
}
@media (max-width: 601px) {
  .wp-site-blocks > main .wp-block-group.alignfull > .wp-block-columns {
    padding: 0 !important;
  }
  .wp-site-blocks > main .is-layout-flex {
    gap: 20px !important;
  }
}
.wp-site-blocks > main .small-container {
  max-width: 1200px;
}
.wp-site-blocks > main .small-background {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

/*Standards*/
.wp-site-blocks > main .wp-block-post-content {
  margin-top: 0;
  padding-bottom: 0;
  /*p-tag spezial*/
}
.wp-site-blocks > main .wp-block-post-content > h2 + p {
  padding-right: 200px;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  .wp-site-blocks > main .wp-block-post-content > h2 + p {
    padding-right: 0px;
  }
}

/*Fonts*/
body {
  --wp--preset--font-size--xx-large:96px;
  --wp--preset--font-size--h2-x-large:56px;
  --wp--preset--font-size--x-large:40px;
  --wp--preset--font-size--large:28px;
  --wp--preset--font-size--medium:22px;
  --wp--preset--font-size--small:16px;
  --wp--preset--font-size--h2-mobile:38px;
  /*  Mobile font sizes  */
  /*  Global font defaults  */
}
body h1 {
  font-size: var(--wp--preset--font-size--xx-large);
  margin-bottom: 10px !important;
}
@media (max-width: 1024px) {
  body h1 {
    line-height: 1.15;
  }
}
body h2 {
  font-size: var(--wp--preset--font-size--xx-large);
}
@media (max-width: 1024px) {
  body h2 {
    font-size: 80px;
    line-height: 1.15;
  }
}
@media (max-width: 960px) {
  body h2 {
    font-size: 70px;
  }
}
@media (max-width: 601px) {
  body h2 {
    font-size: var(--wp--preset--font-size--h2-mobile);
  }
}
body h3 {
  font-size: var(--wp--preset--font-size--x-large);
}
body.home h1 {
  font-size: 180px;
}
@media (max-width: 1118px) {
  body.home h1 {
    font-size: 150px;
  }
}
@media (max-width: 960px) {
  body.home h1 {
    font-size: 100px;
  }
}
@media (max-width: 601px) {
  body.home h1 {
    font-size: var(--wp--preset--font-size--xx-large);
  }
}
body.home p.has-large-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}
body strong {
  font-weight: 400 !important;
}
@media (max-width: 601px) {
  body {
    --wp--style--root--padding-right: 15px;
    --wp--style--root--padding-left: 15px;
    --swiper-navigation-size: 22px;
    --wp--preset--font-size--xx-large:56px;
    --wp--preset--font-size--h2-x-large:36px;
    --wp--preset--font-size--x-large:28px;
    --wp--preset--font-size--large:24px;
    --wp--preset--font-size--medium:18px;
    --wp--preset--font-size--small:14px;
    font-size: var(--wp--preset--font-size--small);
    line-height: 1.6;
  }
  body .wp-block-post-excerpt__excerpt {
    font-size: var(--wp--preset--font-size--small);
  }
}

/*Align title marginTop*/
body.kontakt .wp-site-blocks > main,
body:not(.page-template-page-no-title):not(.referenzen-template-default) .wp-site-blocks > main {
  margin-top: var(--mbfse--margin-bottom-block);
}

/*Hero*/
body.page {
  /*Home has SpezialHeader*/
}
body.page .wp-site-blocks .wp-block-post-content .mbfse-hero {
  margin-top: calc(var(--mbfse--margin-bottom-block) * -1);
  padding: 0;
}
body.page .wp-site-blocks .wp-block-post-content .mbfse-hero .wp-block-cover__inner-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 30% 50%, rgba(255, 255, 255, 0) 100%);
  width: 100% !important;
  margin-bottom: 0 !important;
}
@media (max-width: 1800px) {
  body.page .wp-site-blocks .wp-block-post-content .mbfse-hero .wp-block-cover__inner-container {
    padding-left: var(--wp--style--root--padding-left);
  }
}
body.page .wp-site-blocks .wp-block-post-content .mbfse-hero .wp-block-cover__inner-container :last-child {
  padding-bottom: 55px;
}
@media (max-width: 601px) {
  body.page .wp-site-blocks .wp-block-post-content .mbfse-hero {
    min-height: auto;
    height: auto !important;
    aspect-ratio: 16/10;
  }
  body.page .wp-site-blocks .wp-block-post-content .mbfse-hero .wp-block-cover__inner-container :last-child {
    padding-bottom: 5px;
  }
}
body.page.home .wp-site-blocks .wp-block-post-content .mbfse-hero {
  margin-top: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1);
  height: 100vh;
}

.video-hero {
  padding: 0 !important;
  margin-block-start: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1) !important;
  margin-top: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1);
  height: 100vh;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100vw;
}
.video-hero figure.wp-block-video {
  position: absolute;
  margin-bottom: 0 !important;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100%;
}
.video-hero figure.wp-block-video video {
  width: 100vw;
  height: 100vh;
}
.video-hero h1, .video-hero p {
  text-align: left;
  width: calc(100% - var(--wp--style--root--padding-left) * 2);
  padding-left: var(--wp--style--root--padding-left);
  padding-right: var(--wp--style--root--padding-left);
  color: #fff;
  z-index: 1;
}
.video-hero div.wp-block-group.txt-distance-bottom {
  margin-bottom: 40px !important;
  width: 100%;
  gap: 0;
  padding-left: var(--wp--style--root--padding-left);
}
.video-hero div.wp-block-group.txt-distance-bottom p {
  padding-left: 0;
  width: auto;
  line-height: 1;
}
.video-hero div.wp-block-group.txt-distance-bottom .wp-block-modulbuero-bootstrap-icons {
  z-index: 1;
}
.video-hero div.wp-block-group.txt-distance-bottom .wp-block-modulbuero-bootstrap-icons .bi-arrow-down-circle-fill::before {
  color: #fff;
}
.video-hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0% 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 0;
}
@media (max-width: 834px) {
  .video-hero h1, .video-hero div.wp-block-group.txt-distance-bottom {
    margin-left: 0;
  }
}
@media (max-width: 601px) {
  .video-hero > :last-child {
    margin-bottom: 40px;
  }
}

/*  Buttons General style */
input[type=submit],
.wp-block-button__link.wp-element-button {
  font-size: 18px;
  line-height: 34px;
  min-width: 160px;
  transition: all 0.3s ease;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #000;
}
input[type=submit]:hover,
.wp-block-button__link.wp-element-button:hover {
  background-color: var(--wp--preset--color--contrast) !important;
  color: var(--wp--preset--color--base) !important;
}
@media (max-width: 601px) {
  input[type=submit],
  .wp-block-button__link.wp-element-button {
    font-size: var(--wp--preset--font-size--small);
  }
}

.mb-button-outline .wp-element-button {
  border: 1px solid var(--wp--preset--color--contrast);
}

.mbgi-openstreetmap-button {
  background-color: var(--wp--preset--color--quaternary);
  color: #000;
}

/* 
	Floating image Container "DocuWare"
*/
.hero-split {
  --versatz-bild-top:130px;
  margin-top: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block)) !important;
  margin-bottom: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block)) !important;
  margin-block-end: calc(var(--versatz-bild-top) + var(--mbfse--margin-bottom-block)) !important;
}
.hero-split > .wp-block-columns {
  gap: 40px !important;
}
.hero-split > .wp-block-columns .wp-block-column:first-child figure {
  width: 80%;
  margin-top: calc(var(--versatz-bild-top) * -1);
  margin-bottom: 0 !important;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}
.hero-split > .wp-block-columns .wp-block-column:first-child figure:last-child {
  margin-top: 0;
  position: absolute;
  bottom: calc(var(--versatz-bild-top) * -1);
  left: 20%;
}
@media (max-width: 601px) {
  .hero-split > .wp-block-columns .wp-block-column:first-child {
    padding-left: var(--wp--style--root--padding-left);
    padding-right: var(--wp--style--root--padding-left);
    min-height: 200px;
    --versatz-bild-top:90px;
  }
}
.hero-split > .wp-block-columns .wp-block-column:last-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 601px) {
  .hero-split > .wp-block-columns .wp-block-column:last-child {
    gap: 15px;
    padding: 30px var(--wp--style--root--padding-left);
  }
}
@media (max-width: 1280px) {
  .hero-split {
    --versatz-bild-top:80px;
  }
}
@media (max-width: 1024px) {
  .hero-split {
    --versatz-bild-top:80px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .hero-split .wp-block-columns .wp-block-column:first-child figure {
    margin-top: 0;
  }
  .hero-split .wp-block-columns .wp-block-column:first-child figure:last-child {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .hero-split {
    --versatz-bild-top:120px;
  }
  .hero-split .wp-block-columns {
    gap: 80px !important;
  }
  .hero-split .wp-block-columns .wp-block-column:first-child figure {
    margin-top: calc(var(--versatz-bild-top) * -1);
  }
  .hero-split .wp-block-columns .wp-block-column:first-child figure:last-child {
    margin-top: calc(var(--versatz-bild-top) * -1);
    bottom: 0;
    position: relative;
  }
  .hero-split .wp-block-columns .wp-block-heading.has-text-align-center {
    margin-bottom: 10px;
  }
}
@media (max-width: 601px) {
  .hero-split {
    margin-bottom: var(--mbfse--margin-bottom-block) !important;
    margin-block-end: var(--mbfse--margin-bottom-block) !important;
  }
}

.slider {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.slider .swiper-wrapper {
  cursor: default;
  touch-action: none;
  cursor: default;
}
.slider .swiper-slide {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto; /* Erlaubt Text-Selektion */
  pointer-events: auto; /* Erlaubt Klicks auf Inhalte */
}

.referenz-slider .swiper-wrapper {
  pointer-events: none !important;
  touch-action: none !important;
}

.referenz-slider .swiper-slide > * {
  pointer-events: auto !important;
}

/*
	Referenzberichte
*/
body.referenzen-template-default .wp-site-blocks > main {
  margin-top: var(--mbfse-header-height) !important;
}
body.referenzen-template-default .wp-site-blocks > main .parts-single-template .mbfse-hero {
  display: none;
}
body.referenzen-template-default .wp-site-blocks > main .parts-single-template .breadcrumb-navigation {
  margin-bottom: 50px;
}
body.referenzen-template-default .wp-site-blocks > main .parts-single-template h1 {
  margin-bottom: 50px !important;
}

.refrences-wrapper > .wp-block-group {
  gap: 0;
  padding: 0;
}
@media (max-width: 601px) {
  .refrences-wrapper > .wp-block-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .refrences-wrapper > .wp-block-group h2.wp-block-heading {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.refrences-wrapper .referenz-arrows {
  display: flex;
  gap: 15px;
}
.refrences-wrapper .referenz-arrows i {
  font-size: 35px;
}
@media (max-width: 601px) {
  .refrences-wrapper .referenz-arrows {
    font-size: 32px;
    justify-content: center;
    top: -15px;
  }
}
.refrences-wrapper .wp-block-query {
  --triangle-height:40px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template {
  display: block; /*if Swiper*/
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template .swiper-wrapper {
  margin-bottom: calc(var(--triangle-height) + 20px);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  padding: 40px 20px !important;
  overflow: initial;
  height: 370px;
}
@media (max-width: 768px) {
  .refrences-wrapper .wp-block-query ul.wp-block-post-template li {
    height: 430px;
  }
}
@media (max-width: 601px) {
  .refrences-wrapper .wp-block-query ul.wp-block-post-template li {
    height: 330px;
  }
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .query-text-container {
  margin-bottom: 30px;
  justify-content: space-between;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap {
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .wp-block-post-featured-image {
  overflow: visible;
  top: auto;
  left: auto;
  width: 100%;
  max-width: 100px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .wp-block-post-featured-image img {
  aspect-ratio: auto;
  max-width: 100%;
  vertical-align: bottom;
  max-height: 46px;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon {
  border: 1px solid var(--wp--preset--color--contrast);
  border-radius: 50px;
  width: 100%;
  height: 44px;
  max-width: 44px;
  transition: var(--mbfse--transition);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon i {
  padding-left: 6px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon p {
  position: absolute;
  opacity: 0.3;
  min-width: 55px;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  top: -8.5px;
  color: white;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon div {
  height: 6px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 var(--triangle-height) var(--triangle-height) 0;
  border-color: transparent var(--wp--preset--color--base) transparent transparent;
  transform: rotate(0deg);
  bottom: calc(var(--triangle-height) * -1);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover {
  filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.1254901961));
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon {
  max-width: 100px;
  border-radius: 30px;
  background-color: var(--wp--preset--color--contrast);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon .bi-plus::before {
  color: var(--wp--preset--color--base);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon p {
  opacity: 1;
}

/* Swiper */
.webinar-slider .swiper-button-prev,
.webinar-slider .swiper-button-next,
.referenz-slider .swiper-button-prev,
.referenz-slider .swiper-button-next,
.swiper-pagination {
  display: none;
}

/* 
	Contact Form
*/
.submit-wrap .nf-field-element {
  display: flex;
  flex-direction: row-reverse;
}
.submit-wrap .nf-field-element > input {
  background-color: transparent;
  border: 1px solid var(--wp--preset--color--contrast) !important;
  border-radius: 50px;
  padding: 10px 50px;
}

form .nf-form-content .nf-before-field {
  display: none;
}
form .nf-form-content > nf-fields-wrap nf-field {
  display: flex;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
}
form .nf-form-content > nf-fields-wrap nf-field .nf-field-label {
  position: absolute;
  top: 20px;
  pointer-events: none;
  transition: top 0.18s ease, font-size 0.18s ease, color 0.18s ease, transform 0.18s ease;
  background: var(--wp--preset--color--base);
  padding: 0;
  z-index: 1;
  font-size: 22px;
}
form .nf-form-content > nf-fields-wrap nf-field .nf-field-label label {
  font-weight: 400;
}
form .nf-form-content > nf-fields-wrap nf-field .list-select-wrap .nf-field-label {
  font-size: 22px !important;
  top: 32px !important;
}
form .nf-form-content > nf-fields-wrap nf-field .field-wrap {
  padding-top: 25px;
}
form .nf-form-content > nf-fields-wrap nf-field:has(select:valid) .nf-field-label {
  top: 36px;
  font-size: 14px;
  color: var(--wp--preset--color--contrast);
}
form .nf-form-content > nf-fields-wrap nf-field .focus-input .nf-field-label, form .nf-form-content > nf-fields-wrap nf-field:focus-within .nf-field-label {
  top: 5px;
  font-size: 16px;
  color: var(--wp--preset--color--contrast);
  opacity: 0.6;
  transform: translateY(0);
}
form .nf-form-content > nf-fields-wrap nf-field > div {
  width: 100%;
}
form .nf-form-content > nf-fields-wrap nf-field > div .nf-field > div .nf-field-element input:not([type=submit]), form .nf-form-content > nf-fields-wrap nf-field > div select, form .nf-form-content > nf-fields-wrap nf-field > div textarea {
  border-bottom: 1px solid #e5e7eb !important;
  height: 50px;
  font-size: 22px;
}
form .nf-form-content > nf-fields-wrap nf-field > div textarea {
  height: auto;
}
form .nf-form-content > nf-fields-wrap nf-field > div .nf-field > div .nf-field-element input, form .nf-form-content > nf-fields-wrap nf-field > div textarea, form .nf-form-content > nf-fields-wrap nf-field > div select {
  border: none;
}
form .nf-form-content > nf-fields-wrap nf-field > div .nf-field > div .nf-field-element input:focus, form .nf-form-content > nf-fields-wrap nf-field > div textarea:focus, form .nf-form-content > nf-fields-wrap nf-field > div select:focus {
  outline: none;
}
form .nf-form-content > nf-fields-wrap nf-field > div input::-moz-placeholder {
  color: transparent;
}
form .nf-form-content > nf-fields-wrap nf-field > div input::placeholder {
  color: transparent;
}
form .nf-form-content > nf-fields-wrap nf-field .listselect-container .nf-field-element select {
  padding-left: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-family: var(--wp--preset--font-family--unineue);
  background-image: url("../img/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 20px 20px;
}

.contact-cover {
  padding-top: 140px;
  padding-bottom: 140px;
}
.contact-cover > div {
  width: 30% !important;
  background: var(--wp--preset--color--base);
  padding: 60px;
  min-width: 500px;
}
@media (max-width: 960px) {
  .contact-cover > div {
    width: 100% !important;
    padding: 20px;
  }
}
@media (max-width: 601px) {
  .contact-cover {
    padding: 0 !important;
  }
  .contact-cover .wp-block-cover {
    padding: 0;
  }
  .contact-cover h2 {
    padding-top: 20px;
  }
  .contact-cover > div {
    min-width: auto;
    padding-bottom: 80px;
  }
}

/* Webinar Cards */
.termine-infos {
  color: var(--wp--preset--color--base);
  margin-bottom: 30px !important;
}
.termine-infos > div > p::before {
  display: none !important;
}
.termine-infos > div > p {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0px !important;
  margin-block-end: 0px !important;
  padding: 5px 15px;
  background-color: var(--wp--preset--color--contrast);
}
@media (max-width: 601px) {
  .termine-infos > div > p {
    font-size: 14px;
  }
}
.termine-infos .ortschaft {
  display: none;
}

.webinars-wrapper li {
  padding: 60px !important;
}
@media (max-width: 601px) {
  .webinars-wrapper li {
    padding: 40px 20px !important;
  }
}
.webinars-wrapper .query-text-container {
  height: 100% !important;
}

/*Akkordeon*/
.wp-block-details summary {
  font-size: var(--wp--preset--font-size--large);
}

.wp-block-post-content .has-background {
  padding-top: var(--mbfse--margin-bottom-block);
  padding-bottom: var(--mbfse--margin-bottom-block);
}/*# sourceMappingURL=main.css.map */