/*Container*/
.home .wp-site-blocks > main {
  margin-top: 0;
}
.home .wp-site-blocks > main .mbfse-hero {
  height: 100vh;
}

.floating-img {
  position: absolute;
  right: -30px;
  bottom: -40px;
  filter: drop-shadow(0 10px 24px rgba(0, 0, 0, 0.18));
}

.floating-img img {
  width: 340px;
  height: auto;
  background: #fff;
}

.hero-split {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

@media (max-width: 1440px) {
  .hero-split > .wp-block-columns {
    gap: 15%;
  }
}

.hero-left img {
  display: block;
  width: min(560px, 50vw);
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5vw);
}

.hero-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-right .wp-block-buttons .wp-block-button__link {
  padding: 14px 22px;
  border-radius: 999px;
  font-weight: 600;
}

.hero-float {
  position: absolute;
  z-index: 2;
  left: 15%;
  bottom: -25%;
  width: min(560px, 45vw);
  pointer-events: none;
}

.hero-float img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
}

/*
	Webinar Slider
*/
.home .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide {
  background-color: var(--wp--preset--color--quaternary);
}
.home .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide-active {
  background-color: var(--wp--preset--color--tertiary);
}

/**
*	home - Blog: 
*	Customized Post-Loop
*/
.posts-cover .wp-block-cover__inner-container {
  width: 55% !important;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template {
  grid-template-columns: 1fr;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0 0 20px;
  border-radius: 0;
  border-bottom: 1px solid #E0E0E0;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li:last-child {
  border-bottom: 0;
  padding: 0;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li .query-text-container {
  justify-content: space-between;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li .query-text-container .wp-block-group {
  transition: transform 0.3s ease;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li .query-text-container .wp-block-group h2 {
  font-weight: 900;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li .query-text-container .wp-block-post-excerpt {
  display: none;
}
.posts-cover .wp-block-cover__inner-container ul.wp-block-post-template li:hover .query-text-container .wp-block-group {
  transform: translateX(8px);
}

/*
	Category-Label
*/
.taxonomy-category.wp-block-post-terms {
  margin-bottom: 5px;
}
.taxonomy-category.wp-block-post-terms a {
  background-color: var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--contrast);
  display: inline-flex;
  gap: 7px;
  padding: 5px 10px;
  line-height: 1;
}
.taxonomy-category.wp-block-post-terms a:before {
  content: "\f3d1";
  font-family: "bootstrap-icons";
  position: relative;
  top: 2px;
}

/*
	Referenzberichte
*/
.refrences-wrapper > h2.wp-block-heading {
  padding: 0;
}
.refrences-wrapper .wp-block-query {
  --triangle-height:40px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template {
  display: block; /*if Swiper*/
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template .swiper-wrapper {
  margin-bottom: calc(var(--triangle-height) + 20px);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li {
  background-color: white;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  padding: 60px;
  overflow: initial;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .query-text-container {
  margin-bottom: 30px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap {
  justify-content: space-between;
  margin-bottom: 0;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .wp-block-post-featured-image {
  overflow: visible;
  top: auto;
  left: auto;
  width: 100%;
  max-width: 100px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .wp-block-post-featured-image img {
  transform: scale(1) !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon {
  border: 1px solid #000;
  border-radius: 55%;
  width: 100%;
  max-height: 43px;
  max-width: 43px;
  transition: var(--mbfse--transition);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon i {
  padding-left: 6px;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li .bild-details-wrap .mbgi-block-bootstrap-icon p {
  position: absolute;
  opacity: 0.3;
  min-width: 55px;
  top: -14px;
  color: white;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 var(--triangle-height) var(--triangle-height) 0;
  border-color: transparent #fff transparent transparent;
  transform: rotate(0deg);
  bottom: calc(var(--triangle-height) * -1);
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover {
  filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.1254901961));
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon {
  max-width: 100px;
  border-radius: 30px;
  background-color: #000;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon .bi-plus::before {
  color: #fff;
}
.refrences-wrapper .wp-block-query ul.wp-block-post-template li:hover .mbgi-block-bootstrap-icon p {
  opacity: 1;
}

/* Swiper */
.webinar-slider .swiper-button-prev,
.webinar-slider .swiper-button-next,
.referenz-slider .swiper-button-prev,
.referenz-slider .swiper-button-next,
.swiper-pagination {
  display: none;
}

.team-card {
  max-width: 572px;
  background: transparent;
  overflow: hidden;
}

.team-card figure {
  margin-bottom: 0 !important;
}

.team-card figure img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-card > div {
  background: #F4F4F4;
  padding: 30px 40px 70px 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 1720px;
  margin: 0 auto;
  background: #fff;
}

.submit-wrap .nf-field-element {
  display: flex;
  flex-direction: row-reverse;
}
.submit-wrap .nf-field-element > input {
  border: 1px solid #000000 !important;
  border-radius: 50px;
  padding: 10px 50px;
}

form .nf-form-content nf-fields-wrap > nf-field {
  display: flex;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
}
form .nf-form-content nf-fields-wrap > nf-field > div {
  width: 100%;
}
form .nf-form-content nf-fields-wrap > nf-field > div .nf-field > div .nf-field-element input:not([type=submit]), form .nf-form-content nf-fields-wrap > nf-field > div select {
  border-bottom: 1px solid #e5e7eb !important;
}
form .nf-form-content nf-fields-wrap > nf-field > div .nf-field > div .nf-field-element input, form .nf-form-content nf-fields-wrap > nf-field > div textarea, form .nf-form-content nf-fields-wrap > nf-field > div select {
  border: none;
}
form .nf-form-content nf-fields-wrap > nf-field > div .nf-field > div .nf-field-element input:focus, form .nf-form-content nf-fields-wrap > nf-field > div textarea:focus, form .nf-form-content nf-fields-wrap > nf-field > div select:focus {
  outline: none;
}

.contact-cover {
  padding-top: 140px;
  padding-bottom: 140px;
}
.contact-cover > div {
  width: 30% !important;
  background: #ffffff;
  padding: 60px;
}/*# sourceMappingURL=main.css.map */