.wp-site-blocks > main {
	--mbfse--details-padding:1rem 0;
	--mbfse--margin-bottom-inline:40px;
	@media (max-width: 550px) {
    	--mbfse--margin-bottom-inline:10px;	
    }
	padding-bottom: 0;
	@media (max-width: 550px) {
		.wp-block-group.alignfull > .wp-block-columns {
			padding: 0 !important;
		}
		.is-layout-flex {
			gap: 20px !important;
		}
		.wp-block-query .wp-block-post-template li .wp-block-post-title  {
			font-size: var(--wp--preset--font-size--medium);
		}
    }
}

/*Standards*/
.wp-site-blocks > main .wp-block-post-content{ 
	margin-top: 0;
	padding-bottom: 0;
	
	

	/*p-tag spezial*/
	>h2+p{
		padding-right: 200px;
		box-sizing: border-box;
		@media (max-width: 550px) {
    		padding-right: unset;
			margin-bottom: 0 !important;
    	}
	}
}

/*Fonts*/
body {
	--wp--preset--font-size--xx-large:96px;
	--wp--preset--font-size--h2-x-large:56px;
	--wp--preset--font-size--x-large:40px;
	--wp--preset--font-size--large:28px;
	--wp--preset--font-size--medium:22px;
	--wp--preset--font-size--small:16px;

	/*  Mobile font sizes  */
	@media (max-width: 550px){
		--wp--style--root--padding-right: 15px;
		--wp--style--root--padding-left: 15px;
		--wp--preset--font-size--xx-large:56px;
		--wp--preset--font-size--h2-x-large:56px;
		--wp--preset--font-size--x-large:40px;
		--wp--preset--font-size--large:40px;
		--wp--preset--font-size--medium:24px;
		--wp--preset--font-size--small:14px;
		--swiper-navigation-size: 22px;
	}


  /*  Global font defaults  */
  h1 {
    font-size: var(--wp--preset--font-size--xx-large);
	margin-bottom: 10px !important;
  }

  h2 {
    font-size: var(--wp--preset--font-size--xx-large);
  }

  h3 {
    font-size: var(--wp--preset--font-size--x-large);
  }

  h3 {
    font-size: var(--wp--preset--font-size--large);
	@media (max-width: 550px) {
    	font-size: var(--wp--preset--font-size--medium);
    }
  }

  p {
	@media (max-width: 550px) {
    	font-size: var(--wp--preset--font-size--small) !important;
    }
  }

  .has-large-font-size {
	@media (max-width: 550px) {
    	font-size: var(--wp--preset--font-size--small) !important;
    }
  }

  &.home{
	h1{
		font-size: 180px;
		@media (max-width: 550px) {
   	 		font-size: var(--wp--preset--font-size--x-large) !important;
    	}
	}
  }
  


  /*
	lobal Categories style
  */
	.taxonomy-category {
		display: flex;
		gap: 10px;
	}
	@mixin taxitem(){
		font-size: 18px;
		background-color: var(--wp--preset--color--tertiary);
		color: var(--wp--preset--color--contrast) !important;
		display: inline-flex;
		gap: 7px;
		padding: 5px 10px;
		line-height: 1;
		border:1px solid var(--wp--preset--color--tertiary);

		&:before{
			content: '\F3D1';
			font-family: 'bootstrap-icons';
			position: relative;
			top:2px;
		}
		&:hover{
			background-color: transparent;
			border-color:#000;
		}
	}
	.taxonomy-item{
		@include taxitem;
	}
	.taxonomy-category.wp-block-post-terms{
		margin-bottom:5px;

		a{
			@include taxitem;
		}
	}
	.wp-block-categories-list{
		display: flex;
		list-style-type:none;
		gap:20px;
		border-bottom:1px solid #ccc;
		padding-bottom: 60px;
		padding: 60px 0;
		margin-bottom: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 80%;
		li a{
			@include taxitem;
		}	
	}

}

/*Align title marginTop*/
body.kontakt .wp-site-blocks > main,
body:not(.page-template-page-no-title):not(.referenzen-template-default) .wp-site-blocks > main {
    margin-top: 120px;
}
body.ueber-uns .wp-site-blocks > main {
    // margin-top: var(--mbfse-header-height)
}
/*Hero*/
body.page{
	.wp-site-blocks .wp-block-post-content .mbfse-hero{
		margin-top: calc(var(--mbfse--margin-bottom-block) * -1);
		padding:0;
		.wp-block-cover__inner-container{
			background: linear-gradient(0deg, rgb(0 0 0 / 40%) 30% 50%, rgba(255, 255, 255, 0) 100%);
			width: 100% !important;
			margin-bottom: 0 !important;

			@media (max-width: 1800px) {
				padding-left: var(--wp--style--root--padding-left);
			}			

			:last-child{
				padding-bottom: 55px;
			}
		}
	}

	/*Home has SpezialHeader*/
	&.home{
		.wp-site-blocks .wp-block-post-content .mbfse-hero{
			margin-top: calc((var(--mbfse-header-height) + var(--mbfse--margin-bottom-block)) * -1);
			height:100vh
		}
	}
	
}

/*  Buttons General style */
.wp-block-button__link.wp-element-button {
	font-size: 18px;
	line-height: 34px;
	min-width: 160px;
	transition: all 0.3s ease;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	color:#000;
	&:hover{
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base) !important;
	}
}

.mb-button-outline{
	.wp-element-button {
		border: 1px solid var(--wp--preset--color--contrast);
	}
}

/* 
	Floating image Container "DocuWare"
*/
.hero-split {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: calc(5vw + var(--mbfse--margin-bottom-block) ) !important;
	margin-bottom: calc(5vw + var(--mbfse--margin-bottom-block) ) !important;
	margin-block-end: calc(5vw + var(--mbfse--margin-bottom-block) ) !important;

	> .wp-block-columns {
		@media (max-width: 1440px) {
			gap: 15%;
			padding: 0 !important;
		}
		.wp-block-column:first-child{
			img {
				display: block;
				width: min(560px, 50vw);
				height: auto;
				border-radius: 12px;
				box-shadow: 0 10px 30px rgba(0,0,0,.08);
				transform: translateY(-5vw);
			}
		}
		.wp-block-column:nth-child(2) {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media (max-width: 550px) {
				margin-top: 80px !important;
				padding-bottom: 50px;
			}
		}
	}	

	/*Untere Bild*/
	.hero-float {
		position: absolute;
		z-index: 2;
		left: 15%;
		bottom: -25%;
		width: min(560px, 45vw);
		pointer-events: none;
		@media (max-width: 550px) {
			top: 60px;
		}
		@media (max-width: 1024px) {
			width: min(360px, 45vw);
		}
		@media (min-width: 2000px) {
			left: 20%;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 10px;
			box-shadow: 0 12px 40px rgba(0,0,0,.12);
		}
	}
}

/*
	Referenzberichte
*/
body.referenzen-template-default .wp-site-blocks > main {
	margin-top: var(--mbfse-header-height) !important;
	.parts-single-template{
		.mbfse-hero{
			min-height: 700px;
			max-height: calc(100vh - var(--mbfse-header-height));
			margin-bottom: 50px;
		}
		.breadcrumb-navigation{
			margin-bottom: 50px;
		}
		h1{
			margin-bottom: 50px !important;
		}
	}
}
.refrences-wrapper {
	>h2.wp-block-heading{
		padding:0
	}
	.referenz-arrows {
		display: flex;
		gap: 15px;
		i{
			font-size: 35px;
		}

		@media (max-width: 550px) {
			position: absolute;
    		bottom: -400px;
    		font-size: 20px;
    		gap: 5px;
   	    	right: 50%;
		}
		
	}
	.wp-block-group {
		padding: 0;
	}
	
	.wp-block-query {
		--triangle-height:40px;

		ul.wp-block-post-template {
			display: block; /*if Swiper*/
			
			.swiper-wrapper{
				margin-bottom:calc(var(--triangle-height) + 20px);
			}
			li {
				display: flex;
    			flex-direction: column;
				background-color: white;
				box-shadow: none;
				border-radius: 0 ;
				background-image: none;
				padding: 40px 20px !important;
				overflow: initial;
				height: 370px;
				@media (max-width: 550px) {
					height: 330px;
				}
				
				.query-text-container{
					margin-bottom:30px;
					justify-content: space-between;
				}

				.bild-details-wrap{
					justify-content: space-between;
					margin-bottom: 0;
					margin-top: auto;
					.wp-block-post-featured-image{
						overflow: visible;
						top:auto;
						left:auto;
						width: 100%;
						max-width: 100px;
						
						img{
							aspect-ratio:auto
						}
					}
					.mbgi-block-bootstrap-icon{
						border: 1px solid var(--wp--preset--color--contrast);
						border-radius: 50px;
						width: 100%;
						height: 44px;
						max-width: 44px;
						transition: var(--mbfse--transition);
						i{
							padding-left: 6px;
						}
						p{
							position: absolute;
							opacity: 0.3;
							min-width: 55px;
							width: max-content;
							font-size: 15px;
							top:-9.5px;
							color:white
						}
						div {
							height: 6px;
						}
					}
				}

				&:after{
					content:"";
					position: absolute;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 var(--triangle-height) var(--triangle-height) 0;
					border-color: transparent var(--wp--preset--color--base) transparent transparent;
					transform: rotate(0deg);
					bottom:calc(var(--triangle-height) * (-1));
				}

				&:hover{
					filter: drop-shadow(7px 9px 8px #00000020);
					.mbgi-block-bootstrap-icon{
						max-width: 100px;
    					border-radius: 30px;
						background-color: var(--wp--preset--color--contrast);
						.bi-plus::before{
							color:var(--wp--preset--color--base);
						}
						p{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* Swiper */
.webinar-slider .swiper-button-prev,
.webinar-slider .swiper-button-next,
.referenz-slider .swiper-button-prev,
.referenz-slider .swiper-button-next,
.swiper-pagination{
	display:none
}

/* 
	Contact Form
*/
.submit-wrap .nf-field-element {
	display: flex;
	flex-direction:row-reverse;

	>input {
		background-color: transparent;
		border: 1px solid var(--wp--preset--color--contrast) !important;
    	border-radius: 50px;
    	padding: 10px 50px;
	}
}
form .nf-form-content {
	.nf-before-field {
		display:none;
	} 
	> nf-fields-wrap nf-field {	
	  display: flex;
	  width: 100%;
	  background: transparent;
	  border: 0;
	  border-radius: 0;
	.nf-field-label {
      position: absolute;
      top: 20px;
      pointer-events: none;
      transition: top .18s ease, font-size .18s ease, color .18s ease, transform .18s ease;
      background: var(--wp--preset--color--base);
      padding: 0 6px;
	  z-index: 1;
    }
	 &:focus-within .nf-field-label {
      top: -10px;
      font-size: 16px;
      color: var(--wp--preset--color--contrast);
	  opacity: 0.6;
      transform: translateY(0);
    }
	.field-wrap {
		padding-top: 25px;
	}
	&:has(input:not(:placeholder-shown)),
    &:has(textarea:not(:placeholder-shown)),
	&:has(select:valid) {
      .nf-field-label {
        top: -8px;
        font-size: 16px;
        color: var(--wp--preset--color--contrast);
      }
    }

		>div { 
			width: 100%;
				
			.nf-field >div .nf-field-element input:not([type="submit"]), select{
				  border-bottom: 1px solid #e5e7eb !important;
				  height: 50px;
				  font-size: 18px;
			}

			.nf-field >div .nf-field-element input, textarea, select{
				border: none;
			}
			.nf-field >div .nf-field-element input:focus, textarea:focus, select:focus{
				outline: none;
			}
			input::placeholder {
				color: transparent;
			}
		}
	}
}
.contact-cover {
	padding-top: 140px;
	padding-bottom: 140px;
	> div {
		width: 30% !important;
		background: var(--wp--preset--color--base);
		padding: 60px;
		min-width: 500px;
	}
}


/* Webinar Cards */
.termine-infos {
	color: var(--wp--preset--color--base);
	margin-bottom: var(--mbfse--margin-bottom-inline) !important;

	> div {
		>p::before {
  			display: none !important;
		}
		>p {
			width: fit-content;
			margin-bottom: 1px !important;
			margin-block-end: 1px !important;
			padding: 10px 15px;
			background-color: var(--wp--preset--color--contrast);
		}
	}
	.ortschaft {
		display: none;
	}
}
.webinars-wrapper {
	li {
		padding: 30px 30px 70px 30px !important;
	}
	.query-text-container{
		height: 100% !important;
	}
}

/*Akkordeon*/
.wp-block-details {
	summary{
		font-size: var(--wp--preset--font-size--large);
	}
}