/*
*	Single Content / Metabox
*	Used in Referenzen, Webinare
*/
.referenzen-webinar-content-fields{
	padding-right: 100px !important;
	padding-left: 100px !important;
	gap: 100px !important;
	.fescon-meta-fields{
		div{
			display:flex;
			flex-direction: column;
		}
	}
}

@mixin bottom-border-row($border-color: var(--mbfse--border-color)) {
  border-bottom: 1px solid $border-color !important;
}

@mixin meta-infos-wrapper{
	background-color: var(--wp--preset--color--quaternary);
    padding: 60px;
}

@mixin row-info{
	padding: 20px 0;
	&:first-child { padding-top: 0; }
	&:last-child  { border-bottom: none !important; }
}

@mixin row-info-p{
	label {
      color: var(--wp--preset--color--contrast);
      opacity: 0.5;
    }

    p {
      margin-bottom: 0;
    }
}
.fescon-meta-fields {
		@include meta-infos-wrapper;
		> div {
			@include bottom-border-row;
			@include row-info;
		}
	 	@include row-info-p;
}

.single-termin-html{
	h1 {
		width: 65%;
		margin-left: 40px !important;
		margin-top: 50px
	}
	.fescon-meta-fields {
		@include meta-infos-wrapper;
		> div {
			@include bottom-border-row;
			@include row-info;
		}
	 	@include row-info-p;
	}
	.entry-content {
		padding-left: 0;
		padding-right: 0;
	}
	
}

/*Blog*/
.single-editor-content{
	width: 80%;
    padding-top: 60px;
	margin-block-end: var(--mbfse--margin-bottom-block) !important;
	margin-bottom: var(--mbfse--margin-bottom-block);

	h1{
		font-size: 56px;
	}
	ul,ol{
		margin-bottom: var(--mbfse--margin-bottom-inline) !important;
	}
	>.wp-block-separator{
		margin:70px 0;
		width: 100% !important;
		color:#ccc;
	}
}

body.single{
	---fescon-blog-abstand:50px;
	.wp-site-blocks > main{
	    margin-block-start: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));
    	margin-top: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));

		.breadcrumb-navigation,
		.parts-single-template>form{
			margin-bottom: var(---fescon-blog-abstand);
		}

		.breadcrumb-navigation {
			 font-size: var(--wp--preset--font-size--small);
		}
	}
}

/* Referenzen */
.fescon-ref-info-fields {
    @include meta-infos-wrapper;
    > div { 
		@include bottom-border-row;
		@include row-info;
	 }
    @include row-info-p;
  }
.entry-content {
	details {
		border: 0 !important;
		border-radius: 0 !important;
		margin-bottom: 0 !important;
		@include bottom-border-row;
		summary {
			width: 100% !important;
			padding-left: 0 !important; 
		}
		summary:before {
			content: '\F4FE' !important;
			font-family: 'bootstrap-icons' !important;
			left: unset !important;
			right: 0;
			border: 0 !important;
			transform: unset !important;
			width: 20px;
		}
	}
	details[open] summary:before {
  			content: '\F2EA' !important;
	}	
} 

/* Fazit */
.fazit-wrap  {
	margin-bottom: 100px;
	div {
		display: flex;
  		gap: 0;
		margin-top: 40px;

		> figure.wp-block-image {
			flex: 1;
		}

		> blockquote.wp-block-quote {
			flex: 1;
			border: none;
			background-color: var(--wp--preset--color--tertiary);
			padding: 65px;
			margin-left: -170px;
			max-height: 430px;
			@media (min-width: 1200px) and (max-width: 1440px)  {
				padding: 25px;
			}
			@media (min-width: 1001px) and (max-width: 1200px) {
				padding: 10px 30px;
			}
			@media (max-width: 1000px) {
				margin-left: 0;
			}
			
			&::after {
				content: "";
				position: absolute;
				right: clamp(22px, 4vw, 55px);
				bottom: -35px; 
				border-width: 35px 40px 0 0; 
				border-style: solid;
				border-color: var(--wp--preset--color--tertiary) transparent transparent transparent;
			}
		}
		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}
   }
/* Webinare */
.refrences-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}

/* BreadCrumb */
  ol.breadcrumb {
	display: flex;
	gap: 15px;
	padding-inline-start: 0;
	li {
		&::marker {
			display: none;
			content: "";
		}
		a {
			color: black;
		}
	}
	.bi-chevron-right::before {
		font-size: 10px;
  	}
}