/*
*	Single Content / Metabox
*	Used in Referenzen, Webinare
*/

@mixin styled-padding { 
	padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
}
.wp-block-group .referenzen-webinar-content-fields{
	@include styled-padding;
	gap: 100px !important;
	margin-bottom: var(--mbfse--margin-bottom-block);
	max-width: var(--wp--style--global--content-size);
	margin-left: auto;
	margin-right: auto;
	padding:0;

	@media (max-width: 1600px) {
		padding:0 var(--wp--style--root--padding-left);
	}
	.fescon-meta-fields{
		div{
			display:flex;
			flex-direction: column;
		}
	}
}

.related-webinars-wrapper {
	> div {
		@include styled-padding;
		margin-bottom: var(--mbfse--margin-bottom-block);
	}
}

@mixin bottom-border-row($border-color: var(--mbfse--border-color)) {
  border-bottom: 1px solid $border-color !important;
}

@mixin meta-infos-wrapper{
	background-color: var(--wp--preset--color--quaternary);
    padding: 60px;
	@media (max-width: 601px) { 
		padding:20px;
	}
}

@mixin row-info{
	padding: 20px 0;
	&:first-child { padding-top: 0; }
	&:last-child  { border-bottom: none !important; }
}

@mixin row-info-p{
	label {
      color: var(--wp--preset--color--contrast);
      opacity: 0.5;
    }

    p {
      margin-bottom: 0;
    }
}
.fescon-meta-fields {
	@include meta-infos-wrapper;
	> div {
		@include bottom-border-row;
		@include row-info;
	}
	@include row-info-p;

	
}

.single-termin-html{
	h1 {
		font-size: var(--wp--preset--font-size--h2-x-large);
	}
	h2 {
		font-size: var(--wp--preset--font-size--x-large);
	}
	
	.entry-content {
		padding-left: 0;
		padding-right: 0;
	}
}

/*Blog*/
.single-editor-content{
	width: 80%;
	margin-block-end: var(--mbfse--margin-bottom-block) !important;
	margin-bottom: var(--mbfse--margin-bottom-block);
	padding-top:60px;
	h1{
		font-size: 56px;
		@media (max-width: 601px){
			font-size: 36px;
		}
	}
	ul,ol{
		margin-bottom: var(--mbfse--margin-bottom-inline) !important;
	}
	>.wp-block-separator{
		margin:70px 0;
		width: 100% !important;
		color:#ccc;
	}
	.wp-block-post-featured-image{
		display:none
	}
	@media (max-width: 960px) { 
		width:100%;
	}
}

body.single:not(.referenzen-template-default){
	---fescon-blog-abstand:50px;
	.wp-site-blocks > main{
	    margin-block-start: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));
    	margin-top: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));

		.breadcrumb-navigation,
		.parts-single-template>form{
			margin-bottom: var(---fescon-blog-abstand);
		}

		
	}
}

.single{
	.wp-site-blocks {
		.wp-block-post-content > p:has(+ ul),
		.wp-block-post-content > ul{
			margin-bottom: var(--mbfse--margin-bottom-inline)
		}

		.parts-single-template{
			ul.taxonomy-category.wp-block-post-terms{
				padding-bottom:60px;
			}
		}		
	}	
}


/* Referenzen */
.fescon-ref-info-fields {
    @include meta-infos-wrapper;
    > div { 
		@include bottom-border-row;
		@include row-info;
	 }
    @include row-info-p;
  }
.entry-content {
	details {
		border: 0 !important;
		border-radius: 0 !important;
		margin-bottom: 0 !important;
		@include bottom-border-row;
		summary {
			width: 100% !important;
			padding-left: 0 !important; 
		}
		summary:before {
			content: '\F4FE' !important;
			font-family: 'bootstrap-icons' !important;
			left: unset !important;
			right: 0;
			border: 0 !important;
			transform: unset !important;
			width: 20px;
		}
	}
	details[open] summary:before {
  			content: '\F2EA' !important;
	}	
} 

/* Fazit */
.fazit-wrap  {
	margin-bottom: 100px;
	div {
		display: flex;
  		gap: 0;
		margin-top: 40px;
		align-items: flex-end;
		
		.wp-block-image{
			max-width: 50%;
		}

		> blockquote.wp-block-quote {
			flex: 1;
			border: none;
			background-color: var(--wp--preset--color--tertiary);
			padding: 65px;
			margin-left: -30px;
			margin-bottom: 8%;
			@media (max-width: 1000px) {
				margin-left: 0;
			}
			
			&::after {
				content: "";
				position: absolute;
				right: clamp(22px, 4vw, 55px);
				bottom: -35px; 
				border-width: 35px 40px 0 0; 
				border-style: solid;
				border-color: var(--wp--preset--color--tertiary) transparent transparent transparent;
			}
		}
		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}
   }

/* Webinare */
.refrences-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}

/* BreadCrumb */
ol.breadcrumb {
	display: flex;
	gap: 15px;
	padding-inline-start: 0;
	*{
		font-size: var(--wp--preset--font-size--small);
	}
	li {
		
		&::marker {
			display: none;
			content: "";
		}
		a {
			color: black;
		}
	}
	.bi-chevron-right::before {
		font-size: 10px;
  	}
	.breadcrumb-separator{
		top:-2px
	}

	@media (max-width: 601px) { 
		flex-wrap: wrap;
		.breadcrumb-separator {
			top: -1px;
		}
		margin-block-start: 0;
    	
	}
}