/*
*	Single Content / Metabox
*	Used in Referenzen, Webinare
*/
.wp-block-group .referenzen-webinar-content-fields {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
  gap: 100px !important;
  margin-bottom: var(--mbfse--margin-bottom-block);
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1600px) {
  .wp-block-group .referenzen-webinar-content-fields {
    padding: 0 var(--wp--style--root--padding-left);
  }
}
.wp-block-group .referenzen-webinar-content-fields .fescon-meta-fields div {
  display: flex;
  flex-direction: column;
}

.related-webinars-wrapper > div {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
  margin-bottom: var(--mbfse--margin-bottom-block);
}

.fescon-meta-fields {
  background-color: var(--wp--preset--color--quaternary);
  padding: 60px;
}
@media (max-width: 601px) {
  .fescon-meta-fields {
    padding: 20px;
  }
}
.fescon-meta-fields > div {
  border-bottom: 1px solid var(--mbfse--border-color) !important;
  padding: 20px 0;
}
.fescon-meta-fields > div:first-child {
  padding-top: 0;
}
.fescon-meta-fields > div:last-child {
  border-bottom: none !important;
}
.fescon-meta-fields label {
  color: var(--wp--preset--color--contrast);
  opacity: 0.5;
}
.fescon-meta-fields p {
  margin-bottom: 0;
}

.single-termin-html h1 {
  font-size: var(--wp--preset--font-size--h2-x-large);
}
.single-termin-html h2 {
  font-size: var(--wp--preset--font-size--x-large);
}
.single-termin-html .entry-content {
  padding-left: 0;
  padding-right: 0;
}

/*Blog*/
.single-editor-content {
  width: 80%;
  margin-block-end: var(--mbfse--margin-bottom-block) !important;
  margin-bottom: var(--mbfse--margin-bottom-block);
  padding-top: 60px;
}
.single-editor-content h1 {
  font-size: 56px;
}
@media (max-width: 601px) {
  .single-editor-content h1 {
    font-size: 36px;
  }
}
.single-editor-content ul, .single-editor-content ol {
  margin-bottom: var(--mbfse--margin-bottom-inline) !important;
}
.single-editor-content > .wp-block-separator {
  margin: 70px 0;
  width: 100% !important;
  color: #ccc;
}
.single-editor-content .wp-block-post-featured-image {
  display: none;
}
@media (max-width: 960px) {
  .single-editor-content {
    width: 100%;
  }
}

body.single:not(.referenzen-template-default) {
  ---fescon-blog-abstand:50px;
}
body.single:not(.referenzen-template-default) .wp-site-blocks > main {
  margin-block-start: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));
  margin-top: calc(var(--mbfse-header-height) + var(---fescon-blog-abstand));
}
body.single:not(.referenzen-template-default) .wp-site-blocks > main .breadcrumb-navigation,
body.single:not(.referenzen-template-default) .wp-site-blocks > main .parts-single-template > form {
  margin-bottom: var(---fescon-blog-abstand);
}

.single .wp-site-blocks .wp-block-post-content > p:has(+ ul),
.single .wp-site-blocks .wp-block-post-content > ul {
  margin-bottom: var(--mbfse--margin-bottom-inline);
}
.single .wp-site-blocks .parts-single-template ul.taxonomy-category.wp-block-post-terms {
  padding-bottom: 60px;
}

/* Referenzen */
.fescon-ref-info-fields {
  background-color: var(--wp--preset--color--quaternary);
  padding: 60px;
}
@media (max-width: 601px) {
  .fescon-ref-info-fields {
    padding: 20px;
  }
}
.fescon-ref-info-fields > div {
  border-bottom: 1px solid var(--mbfse--border-color) !important;
  padding: 20px 0;
}
.fescon-ref-info-fields > div:first-child {
  padding-top: 0;
}
.fescon-ref-info-fields > div:last-child {
  border-bottom: none !important;
}
.fescon-ref-info-fields label {
  color: var(--wp--preset--color--contrast);
  opacity: 0.5;
}
.fescon-ref-info-fields p {
  margin-bottom: 0;
}

.entry-content details {
  border: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid var(--mbfse--border-color) !important;
}
.entry-content details summary {
  width: 100% !important;
  padding-left: 0 !important;
  font-weight: 400 !important;
}
.entry-content details summary:before {
  content: "\f4fe" !important;
  font-family: "bootstrap-icons" !important;
  left: unset !important;
  right: 0;
  border: 0 !important;
  transform: unset !important;
  width: 20px;
}
.entry-content details[open] summary:before {
  content: "\f2ea" !important;
}
.entry-content details:has(+ :not(details)) {
  margin-bottom: 40px !important;
}

/* Fazit */
.fazit-wrap {
  margin-bottom: 100px;
}
.fazit-wrap div {
  display: flex;
  gap: 0;
  margin-top: 40px;
  align-items: center;
}
.fazit-wrap div .wp-block-image {
  max-width: 50%;
}
.fazit-wrap div > blockquote.wp-block-quote {
  flex: 1;
  border: none;
  background-color: var(--wp--preset--color--tertiary);
  padding: 65px;
  margin-left: -30px;
  margin-bottom: unset;
}
@media (max-width: 1000px) {
  .fazit-wrap div > blockquote.wp-block-quote {
    margin-left: 0;
  }
}
@media (max-width: 601px) {
  .fazit-wrap div > blockquote.wp-block-quote {
    padding: 20px;
  }
}
.fazit-wrap div > blockquote.wp-block-quote::after {
  content: "";
  position: absolute;
  right: clamp(22px, 4vw, 55px);
  bottom: -35px;
  border-width: 35px 40px 0 0;
  border-style: solid;
  border-color: var(--wp--preset--color--tertiary) transparent transparent transparent;
}
@media (max-width: 1000px) {
  .fazit-wrap div {
    flex-direction: column;
  }
}

/* Webinare */
.refrences-wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* BreadCrumb */
ol.breadcrumb {
  display: flex;
  gap: 15px;
  padding-inline-start: 0;
}
ol.breadcrumb * {
  font-size: var(--wp--preset--font-size--small);
}
ol.breadcrumb li {
  list-style-type: none;
}
ol.breadcrumb li::marker {
  display: none;
  content: "";
}
ol.breadcrumb li a {
  color: black;
}
ol.breadcrumb .bi-chevron-right::before {
  font-size: 10px;
}
ol.breadcrumb .breadcrumb-separator {
  top: -2px;
}
@media (max-width: 601px) {
  ol.breadcrumb {
    flex-wrap: wrap;
  }
  ol.breadcrumb .breadcrumb-separator {
    top: -1px;
  }
  ol.breadcrumb {
    margin-block-start: 0;
  }
}/*# sourceMappingURL=single.css.map */