/*
	Webinar Slider
*/
.query-loop-termine{
	.webinar-slider{
		touch-action: none;
		.swiper-wrapper{
			height:auto;
			margin-bottom:0;

			.swiper-slide{
				background-color: var(--wp--preset--color--quaternary);
				box-shadow: none;
				background-image: none;

				.wp-block-post-excerpt {
					margin-bottom: 60px !important;
					@media (max-width: 601px) { 
						margin-bottom: 30px !important;
					}
				}
				div.wp-block-group.no-distance-bottom{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					>div{
						margin: 0 !important;
						
						.wp-block-button{
							max-width: 160px;
							.wp-block-button__link{
								min-width: 160px
							}							
						}

						@media (max-width: 601px) { 
							.wp-block-button{
								max-width: 110px;
								.wp-block-button__link{
									min-width: 110px
								}							
							}	
						}
					}
				}
				
			}
			.swiper-slide-active{
				background-color: var(--wp--preset--color--tertiary);
				@media (max-width: 601px) { 
					max-width: 100% !important;
					// margin-right: 0 !important;	
				}
			}

			.taxonomy-category.wp-block-post-terms a {
					display: flex;
					border:none;
					background-color: transparent;
					align-items: center;
					z-index: 11;
					font-size: 18px;
					@media (max-width: 601px) { 
						font-size: 14px;
					}
					background-color: transparent;
					border-color:transparent;
				}
		}
	}
}

.webinar-arrows {
	display: flex;
	gap: 20px;
	font-size: 40px;
	position: absolute;
	bottom: 5px;
	@media (max-width: 601px) { 
		font-size: 20px;
		gap: 5px;
		bottom: -470px;
		right: 50%;
	}

}

body.single-termin,
body.fescon-webinare{
	.webinar-arrows {
		bottom:-80px
	}
	.wp-block-categories-list {
		border-bottom: none !important;
		width: 100%;
	}

}

/*Mit linkem Main-Titel*/
main .webinar-slider-container.alignfull{
	padding-right: 0;
	>.wp-block-columns{
		max-width: 100%;
	}


	@media (max-width: 1366px) {
		.wp-block-columns{
			gap:40px;
		}
	}

	@media (max-width: 1280px) {
		.wp-block-heading{
			font-size: 90px;
		}
	}

	@media (max-width: 1118px) {
		.wp-block-heading{
			font-size: 80px;
		}
	}

	@media (max-width: 1024px) {
		.wp-block-columns{
			padding:0;
			flex-direction: column;
			> .wp-block-column:first-child{
				width:calc(100% - var(--wp--style--root--padding-left)) !important;
			}
		}
	}

	@media (max-width: 601px) {
		padding-right: var(--wp--style--root--padding-left);
		.webinars-wrapper{
			width: 100%;
		}
		
		.wp-block-heading{
			font-size: var(--wp--preset--font-size--h2-mobile);
		}

		.webinar-arrows{
			position: relative;
			bottom:0;
			justify-content: center;
			right:auto;
			left: auto;
			font-size: 32px;
		}
	}

}

.webinar-simple-wrap{
	padding-right: 0 !important;
	>div{
		margin:0 !important;
	}
}

.webinar-question{
	margin-block-start: calc(var(--wp--style--block-gap) + 40px) !important;
	margin-top:calc(var(--wp--style--block-gap) + 40px);
	.bi:before{
		color:var(--wp--preset--color--tertiary);
	}

	a{
		position: absolute;
		top: -25px;
		left: -55px;
		height: 50px;
		width: 50px;
	}
}

.webinar-slider-wrapper{
	.wp-block-columns{
		@media (max-width: 960px) { 
			padding:0 !important;
			gap:40px;
		}
	}
}