/*
	Webinar Slider
*/
.query-loop-termine .webinar-slider {
  touch-action: none;
}
.query-loop-termine .webinar-slider .swiper-wrapper {
  height: auto;
  margin-bottom: 0;
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide {
  background-color: var(--wp--preset--color--quaternary);
  box-shadow: none;
  background-image: none;
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide .wp-block-post-excerpt {
  margin-bottom: 60px !important;
}
@media (max-width: 601px) {
  .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide .wp-block-post-excerpt {
    margin-bottom: 30px !important;
  }
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom > div {
  margin: 0 !important;
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom > div .wp-block-button {
  max-width: 160px;
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom > div .wp-block-button .wp-block-button__link {
  min-width: 160px;
}
@media (max-width: 601px) {
  .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom > div .wp-block-button {
    max-width: 110px;
  }
  .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide div.wp-block-group.no-distance-bottom > div .wp-block-button .wp-block-button__link {
    min-width: 110px;
  }
}
.query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide-active {
  background-color: var(--wp--preset--color--tertiary);
}
@media (max-width: 601px) {
  .query-loop-termine .webinar-slider .swiper-wrapper .swiper-slide-active {
    max-width: 100% !important;
  }
}
.query-loop-termine .webinar-slider .swiper-wrapper .taxonomy-category.wp-block-post-terms a {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  z-index: 11;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
}
@media (max-width: 601px) {
  .query-loop-termine .webinar-slider .swiper-wrapper .taxonomy-category.wp-block-post-terms a {
    font-size: 14px;
  }
}
.query-loop-termine .webinar-slider .swiper-wrapper .mbfse-block-termine-text-container {
  display: flex;
  flex-direction: column;
}
.query-loop-termine .webinar-slider .swiper-wrapper .mbfse-block-termine-text-container .wp-block-post-excerpt {
  margin-top: 0;
}
.query-loop-termine .webinar-slider .swiper-wrapper .mbfse-block-termine-text-container .webinar-btns {
  margin-top: auto;
}

.webinar-arrows {
  display: flex;
  gap: 20px;
  font-size: 40px;
  position: absolute;
  bottom: 5px;
}
@media (max-width: 1024px) {
  .webinar-arrows {
    bottom: -30px;
  }
}
@media (max-width: 601px) {
  .webinar-arrows {
    font-size: 20px;
    gap: 5px;
    bottom: -470px;
    right: 50%;
  }
}

body.single-termin .webinar-arrows,
body.fescon-webinare .webinar-arrows {
  bottom: -80px;
}
body.single-termin .wp-block-categories-list,
body.fescon-webinare .wp-block-categories-list {
  border-bottom: none !important;
  width: 100%;
}

/*Mit linkem Main-Titel*/
main .webinar-slider-container.alignfull {
  padding-right: 0;
}
main .webinar-slider-container.alignfull > .wp-block-columns {
  max-width: 100%;
}
@media (max-width: 1366px) {
  main .webinar-slider-container.alignfull .wp-block-columns {
    gap: 40px;
  }
}
@media (max-width: 1280px) {
  main .webinar-slider-container.alignfull .wp-block-heading {
    font-size: 90px;
  }
}
@media (max-width: 1118px) {
  main .webinar-slider-container.alignfull .wp-block-heading {
    font-size: 80px;
  }
}
@media (max-width: 1024px) {
  main .webinar-slider-container.alignfull .wp-block-columns {
    padding: 0;
    flex-direction: column;
  }
  main .webinar-slider-container.alignfull .wp-block-columns > .wp-block-column:first-child {
    width: calc(100% - var(--wp--style--root--padding-left)) !important;
  }
}
@media (max-width: 601px) {
  main .webinar-slider-container.alignfull {
    padding-right: var(--wp--style--root--padding-left);
  }
  main .webinar-slider-container.alignfull .webinars-wrapper {
    width: 100%;
  }
  main .webinar-slider-container.alignfull .wp-block-heading {
    font-size: var(--wp--preset--font-size--h2-mobile);
  }
  main .webinar-slider-container.alignfull .webinar-arrows {
    position: relative;
    bottom: 0;
    justify-content: center;
    right: auto;
    left: auto;
    font-size: 32px;
    gap: 20px;
  }
}

.webinar-simple-wrap {
  padding-right: 0 !important;
}
.webinar-simple-wrap > div {
  margin: 0 !important;
}
@media (max-width: 1024px) {
  .webinar-simple-wrap > div {
    padding: 0 !important;
  }
}

.webinar-question {
  margin-block-start: calc(var(--wp--style--block-gap) + 40px) !important;
  margin-top: calc(var(--wp--style--block-gap) + 40px);
}
.webinar-question .bi:before {
  color: var(--wp--preset--color--tertiary);
}
.webinar-question a {
  position: absolute;
  top: -25px;
  left: -55px;
  height: 50px;
  width: 50px;
}

@media (max-width: 960px) {
  .webinar-slider-wrapper .wp-block-columns {
    padding: 0 !important;
    gap: 40px;
  }
}

@media (max-width: 1600px) {
  .old-webinars.webinar-shortcode {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.old-webinars.webinar-shortcode .wp-block-post-template {
  grid-template-columns: 1fr 1fr;
}
.old-webinars.webinar-shortcode .wp-block-post-template article {
  padding: 60px !important;
  background-color: var(--wp--preset--color--quaternary);
  box-shadow: none;
  background-image: none;
}
.old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-excerpt {
  margin-bottom: 60px !important;
}
@media (max-width: 601px) {
  .old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-excerpt {
    margin-bottom: 30px !important;
  }
}
.old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom > div {
  margin: 0 !important;
}
.old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom > div .wp-block-button {
  max-width: 160px;
}
.old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom > div .wp-block-button .wp-block-button__link {
  min-width: 160px;
}
@media (max-width: 601px) {
  .old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom > div .wp-block-button {
    max-width: 110px;
  }
  .old-webinars.webinar-shortcode .wp-block-post-template article div.wp-block-group.no-distance-bottom > div .wp-block-button .wp-block-button__link {
    min-width: 110px;
  }
}
.old-webinars.webinar-shortcode .wp-block-post-template article .query-text-container {
  margin-bottom: 0;
}
.old-webinars.webinar-shortcode .wp-block-post-template article a.wp-block-button__link {
  border: 1px solid #000000;
  border-radius: 50px;
}
.old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-terms a {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  z-index: 11;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  background-color: var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--contrast) !important;
  display: inline-flex;
  gap: 7px;
  padding: 5px 10px;
  line-height: 1;
  border: 1px solid var(--wp--preset--color--tertiary);
}
@media (max-width: 601px) {
  .old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-terms a {
    font-size: 14px;
  }
}
.old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-terms a:before {
  content: "\f3d1";
  font-family: "bootstrap-icons";
  position: relative;
  top: 2px;
}
.old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-terms a:hover {
  background-color: transparent;
  border-color: #000;
}
@media (max-width: 601px) {
  .old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-post-terms a {
    font-size: 14px;
  }
}
.old-webinars.webinar-shortcode .wp-block-post-template article .wp-block-read-more {
  position: absolute;
  color: transparent;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}/*# sourceMappingURL=webinar-slider.css.map */