/*
	Webinar Slider
*/
.query-loop-termine{
	.webinar-slider{
		touch-action: none;
		.swiper-wrapper{
			height:auto;
			margin-bottom:0;

			.swiper-slide{
				background-color: var(--wp--preset--color--quaternary);
				.wp-block-post-excerpt {
					margin-bottom: 50px;
				}
				.taxonomy-category {
					display: flex;
					flex-direction: row-reverse;
					gap: 5px;
					flex-wrap: wrap;
					flex: 2;
				}
				.wp-block-buttons {
					flex: 1;
				}
				.webinar-btns {
					display: flex;
					width: 100%;
					justify-content: space-between;
					justify-items: center;
					align-items: center;
					position: absolute;
					bottom: -50px;
					
					> div {
						margin: 0 !important;
					}
				}
			}
			.swiper-slide-active{
				background-color: var(--wp--preset--color--tertiary);
				@media (max-width: 601px) { 
					width: 100vw !important;
					margin-right: 0 !important;	
				}
				.taxonomy-category.wp-block-post-terms a {
					background-color: var(--wp--preset--color--quaternary);
				}
			}
		}
	}
}

.webinar-arrows {
	display: flex;
	gap: 20px;
	font-size: 40px;
	position: absolute;
	bottom: 5px;
	@media (max-width: 601px) { 
		font-size: 20px;
		gap: 5px;
		bottom: -470px;
		right: 50%;
	}

}

body.single-termin,
body.fescon-webinare{
	.webinar-arrows {
		bottom:-80px
	}
	.wp-block-categories-list {
		border-bottom: none !important;
		margin-left: 0 !important;
		width: 100%;
	}

}

/*Mit linkem Main-Titel*/
main .webinar-slider-container.alignfull{
	padding-right: 0;
	@media (max-width: 1366px) {
		.wp-block-columns{
			gap:40px;
		}
	}

	@media (max-width: 1280px) {
		.wp-block-heading{
			font-size: 90px;
		}
	}

	@media (max-width: 1118px) {
		.wp-block-heading{
			font-size: 80px;
		}
	}

	@media (max-width: 1024px) {
		.wp-block-columns{
			padding:0;
			flex-direction: column;
			> .wp-block-column:first-child{
				width:calc(100% - var(--wp--style--root--padding-left)) !important;
			}

			.webinar-arrows{
				bottom: -25px;
			}
		}
	}

	@media (max-width: 601px) {
		.wp-block-heading{
			font-size: var(--wp--preset--font-size--h2-mobile);
		}
	}

}

.webinar-simple-wrap{
	padding-right: 0 !important
}

.webinar-question{
	margin-block-start: calc(var(--wp--style--block-gap) + 40px) !important;
	margin-top:calc(var(--wp--style--block-gap) + 40px);
	.bi:before{
		color:var(--wp--preset--color--tertiary);
	}

	a{
		position: absolute;
		top: -25px;
		left: -55px;
		height: 50px;
		width: 50px;
	}
}

.webinar-slider-wrapper{
	.wp-block-columns{
		@media (max-width: 960px) { 
			padding:0 !important;
			gap:40px;
		}
	}
}